#module-dashboard #widget-container .widget {
	position: relative;
	display: block;
	border: 1px solid #ccc;
	margin-bottom: 10px;
	background: #fff;
	min-height: 38px;
}

#module-dashboard #widget-container .widget .loader {
	background:#ddd;
	padding:20px;
	opacity:0.6;
}

#module-dashboard #widget-container .widget blockquote {
	margin-left: 30px;
}

#module-dashboard #widget-container .widget h3 {
	line-height:18px;
}

#module-dashboard #widget-container .widget div.widget-title {
	font-weight: normal;
	position: absolute;
	top: 3px;
	right: 3px;
	display: none;
}

#module-dashboard #widget-container .widget:hover div.widget-title {
	display: block;
}

#module-dashboard #widget-container .widget div.widget-title h4 {
	display: block;
	float: left;
	height: 16px;
	margin-left: 5px;

	padding: 2px 5px 2px 5px;
}

#module-dashboard #widget-container #result-left,
#module-dashboard #widget-container #result-right {
	position: relative;
	display: block;
	width: 49.5%;
}

*+html #module-dashboard #widget-container #result-left,
*+html #module-dashboard #widget-container #result-right {
	width: 49%;
}

#module-dashboard #widget-container .widget table.stats-table td {
	padding: 2px;
}

#module-dashboard #widget-container .widget table.stats-table td:first-child {
	text-align: right;
}

/* Styles for sexy progress-bar */
#module-dashboard #widget-container .eval-widget .progress {
	border: 1px solid #aaa;
	height: 10px;
	border-radius: 2px;
	background: #666;
}

#module-dashboard #widget-container .eval-widget .progress-bar {
	background: #D4ECFF url('[{$dir_images}]gradient.png') repeat-x scroll 0 -5px;
	height: 10px;
}
