<div class="p10">
	<h3>[{isys type="lang" ident="LC__MODULE__IMPORT__LDAP__HEADLINE"}]</h3>
	<p>[{isys type="lang" ident="LC__MODULE__IMPORT__LDAP__DESCRIPTION"}]</p>
</div>
[{if $ldap_is_installed === true}]
	<fieldset class="m5" style="display:none">
		<legend>Information</legend>
		<div>
			[{$information_text}]
		</div>
	</fieldset>
	<fieldset class="overview">
		<legend><span>Server</span></legend>
		<table class="m10">
			<tr>
				<td class="key">
					LDAP Server:
				</td>
				<td class="value">
					[{isys type="f_dialog" name="C__LDAP_IMPORT__LDAP_SERVERS" id="C__LDAP_IMPORT__LDAP_SERVERS"}]
				</td>
			</tr>
			<tr>
				<td class="key">
					LDAP - DN:
				</td>
				<td class="value">
					[{isys type="f_text" name="C__LDAP_IMPORT__LDAP_DN" id="C__LDAP_IMPORT__LDAP_DN"}]
				</td>
			</tr>

		</table>
		<div class="m10">
			[{isys type="f_button" p_onClick="window.get_ldap_objects_by_filter();" name="filter_check" p_strValue="LC__UNIVERSAL__IMPORT"}]
		</div>
	</fieldset>

	<fieldset class="overview" style="display:none;" id="result_fieldset">
		<legend><span>[{isys type="lang" ident="LC__MODULE__JDISC__IMPORT__RESULT"}]</span></legend>

		<div class="mt10">
			<table class="mainTable" cellpadding="0" cellspacing="0">
				<thead>
					<tr>
						<th width="10%" ><input type="checkbox" class="" id="mark_all"></th>
						<th >[{isys type="lang" ident="LC__UNIVERSAL__TITLE"}]</th>
					</tr>
				</thead>
				<tbody id="result">
				</tbody>
			</table>
		</div>
		[{isys type="f_button" name="C__MODULE__LDAP__IMPORT__BUTTON" id="C__MODULE__LDAP__IMPORT__BUTTON" p_strValue="LC__MODULE__LDAP__START_IMPORT"}]
	</fieldset>
[{/if}]

[{if $error_message}]
<div class="m5 p10 error">
	[{$error_message}]
</div>
[{/if}]

<fieldset class="m5" id="result_output" style="display:none;">
	<div style="height:20px;">
		<div id="loader" class="m5" style="display:none;"></div>
	</div>

	<pre></pre>
</fieldset>

<script>
	window.get_ldap_objects_by_filter = function(){
		$('result_fieldset').show();

		$('mark_all').checked = false;

		new Ajax.Request('?call=ldap_import&ajax=1&func=filter',
				{
					parameters: {
						ldap_dn: $('C__LDAP_IMPORT__LDAP_DN').value,
						ldap_server: $('C__LDAP_IMPORT__LDAP_SERVERS').value
					},
					method: "post",
					onSuccess: function(transport){
						var json = transport.responseText.evalJSON();
						var even_odd = 'CMDBListElementsEven';
						var tr_classname = '';
						$('result').childElements().each(function(ele){
							ele.remove();
						});
						json.each(function(ele){
							tr_classname = 'listRow '+even_odd;
							$('result').insert(
									new Element('tr', {className:tr_classname}).update(
											new Element('td', {className:'mt2'}).update(
													new Element('input', {
														type:'checkbox',
														name:'ldap_objects[]',
														className:'checkbox',
														value:ele.id
													}).observe('click', function(){
																this.checked = (!this.checked)? true: false;
															})
											)
									).insert(
											new Element('td', {
												className:'mt2'
											}).update(ele.title)
									).observe('click', function(){
												var cb_checked = this.down().down().checked;
												this.down().down().checked = (!cb_checked)? true: false;
											})
							);
							even_odd = (even_odd == 'CMDBListElementsEven')? 'CMDBListElementsOdd': 'CMDBListElementsEven';
						});
					}
				}
		);
	}

	$('mark_all').on('click', function(){
		var checker = this.checked;
		$$('input.checkbox').each(function(ele){
			ele.checked = checker;
		})
	});

	$('C__MODULE__LDAP__IMPORT__BUTTON').on('click', function(){
		// Process import

		$('result_output').show();
		$('loader').update('<img src="images/ajax-loading.gif" class="m5" style="vertical-align:middle;" /> <span>Importing.. Please wait..</span>');
		new Effect.Appear('loader', {duration:0.8});

		var ldap_ids = '[';
		var ldap_selected = false;

		$$('input.checkbox').each(function(ele){
			if(ele.checked === true){
				ldap_selected = true;
				ldap_ids += '"' + ele.value + '",';
			}
		});

		if(ldap_selected){
			ldap_ids = ldap_ids.substring(0, ldap_ids.length - 1) + ']';

			new Ajax.Request('?call=ldap_import&ajax=1&func=import',
					{
						parameters: {
							ids:ldap_ids,
							ldap_dn: $('C__LDAP_IMPORT__LDAP_DN').value,
							ldap_server: $('C__LDAP_IMPORT__LDAP_SERVERS').value
						},
						method: "post",
						onSuccess: function(transport){
							new Effect.Fade('loader', {duration:0.2});
							$('result_output').show().down('pre').update(transport.responseText);
						}
					}
				);
		} else{
			alert('nothing selected!');
		}
	});

</script>
