[{strip}]
<div id="contentBottom">
	<div id="content_overlay" style="display:none;"></div>
		<div id="dashboardWrapper">
			[{if !$smarty.get.ajax}]
				[{include file="content/bottom/content/dashboard.tpl"}]
			[{/if}]
		</div>
	</div>
</div>
[{/strip}]