<fieldset class="overview">
	<legend><span style="border-top:0;">[{$headline}]</span></legend>

	<div class="mt10">
		[{$objectTableList}]
	</div>

</fieldset>

<script type="text/javascript">
	$('cSpanRecFilter').hide();
</script>