.btn {
	padding: 4px 3px 6px;
	border: 1px solid #aaa;
	background: #ddd url('[{$dir_images}]gradient.png') repeat-x;
	text-shadow: 0 1px 0 #fff;
	border-radius: 2px;
	color: #000;
	cursor: pointer;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	display: inline-block;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	/* This is used for A-tag buttons */
	text-decoration: none;
	/* This is used to display all boxes the same height */
	box-sizing: border-box;
	height: 24px;
	/* This is a "reset", so all buttons get the same font-size, line-height and font */
	font-size: 11px;
	line-height: 13px;
	font-family: Tahoma, Geneva, Helvetica, sans-serif;
}

.btn img {
	margin-top: -2px;
	height: 16px;
	vertical-align: middle;
}

.btn span {
	vertical-align: baseline;
}

/* Block styling */
.btn-block {
	display: block;
	width: 100%;
}

/* Special CSS for removing the dotted lines inside buttons (Firefox) */
.btn::-moz-focus-inner {
	border: 0;
}

/* Different button states */
.btn:hover {
	border-color: #bbb;
	background-color: #eee;
	color: #c00;
}

.btn:active,
.btn.active {
	top: 1px;
	left: 1px;
	position: relative;
}

.btn.disabled,
.btn.disabled:hover,
.btn.disabled:focus,
.btn.disabled:active,
.btn[disabled],
.btn[disabled]:hover,
.btn[disabled]:focus,
.btn[disabled]:active {
	top: 0;
	left: 0;
	color: #000;
	opacity: .5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	cursor: default;
}

/* === Implementing some button sizes ======================== */

/* = MINI ======================== */
.btn.btn-mini {
	padding: 1px 0;
	line-height: 11px;
	height: 15px;
}

.btn.btn-mini img {
	margin-top: -2px;
	height: 11px;
	vertical-align: middle;
}

/* = SMALL ======================= */
.btn.btn-small {
	padding: 2px 4px 2px 2px;
	line-height: 12px;
	height: 21px;
}

.btn.btn-small img {
	height: 14px;
	vertical-align: middle;
	margin-top: 1px;
}

.btn.btn-small span {
	vertical-align: middle;
}

/* = LARGE ======================= */
.btn.btn-large {
	height: 28px;
	padding: 6px 6px 7px;
	font-size: 13px;
}

/* === Implementing some button colors ======================== */

/* = GREEN ======================= */
.btn.btn-green {
	background-color: #acf097;
	border-color: #81b970;
}

.btn.btn-green:hover {
	background-color: #b9ffa4;
	color: #385524;
}

/* = BLUE ======================== */
.btn.btn-blue {
	background-color: #b2d1f0;
	border-color: #7b99b9;
}

.btn.btn-blue:hover {
	background-color: #b8dcff;
	color: #414d55;
}

/* = RED ========================= */
.btn.btn-red {
	background-color: #f0a19e;
	border-color: #b97775;
}

.btn.btn-red:hover {
	background-color: #ffaca9;
	color: #553534;
}

/* = YELLOW ====================== */
.btn.btn-yellow {
	background-color: #edf081;
	border-color: #e8d452;
}

.btn.btn-yellow:hover {
	background-color: #fcff88;
	color: #535523;
}