/*--------------------------------------------------|
| dTree 2.05 | www.destroydrop.com/javascript/tree/ |
|---------------------------------------------------|
| Copyright (c) 2002-2003 Geir Landrü               |
|--------------------------------------------------*/
.dtree {
	white-space: nowrap;
	color: #000;
}

.dtree img {
	border: 0;
	vertical-align: middle;
	cursor: pointer;
}

.dtree a {
	text-decoration: none;
	cursor: pointer;
}

.dtree a.node, .dtree a.nodeSel, .dtree a.nodeDisabled {
	white-space: nowrap;
	padding-left: 5px;
	line-height: 16px;
	vertical-align: middle;
}

.dtree img.nodeIcon {
	width: 16px;
	height: 16px;
}

.dtree a.node:hover, .dtree a.nodeSel:hover {
	text-decoration: none;
}

.dtree a.nodeSel {
	text-decoration: underline;
	font-weight: bold;
	color: #000;
}

.dtree a.nodeDisabled {
	color: #000;
	opacity: 0.5;
	cursor: default;
}

.dtree .clip {
	overflow: visible;
}

.dtree a.rootNode {
	color: #000;
	font-weight: bold;
}

.dtree a.rootNode:hover, a.rootNode:focus, a.rootNode:active {
	color: #c00;
}

.dtree span.noentries {
	color: #888;
}

#imenu_tree0 {
	margin-right: 4px;
}

/*------------------ Eye Icon ---------------------*/
#nodeVisibilityIcon {
	position: absolute;
	right: 25px;
	z-index: 301;
}
/*-------------------------------------------------*/