/*
 * VERSION 2.0
 * Original version: 1.0 © 2010 Andrew Valums ( andrew(at)valums.com )
 * Current Maintainer (2.0+): 2012, Ray Nicholus ( fineuploader(at)garstasio.com )
 *
 * Licensed under MIT license, GNU GPL 2 or later, GNU LGPL 2 or later, see license.txt.
 */
.qq-uploader {
	position: relative;
	width: 100%;
}
.qq-upload-button {
	display: block;
	/*or inline-block*/
	width: 105px;
	padding: 7px 0;
	text-align: center;
	background: #880000;
	border-bottom: 1px solid #DDD;
	color: #FFF;

	/* i-doit specific styles are always at the bottom */
	background:url('[{$dir_images}]gradient.png') repeat-x scroll 0 0 #DDD;
	border:1px solid #AAA;
	color: #000;
	text-shadow: 0 1px 0 #FFF;
	float: left;
	border-radius: 2px;
	padding: 3px 0;
}
.qq-upload-button-hover {
	background: #CC0000;

	/* i-doit specific styles are always at the bottom */
	background:#EEE;
	border:1px solid #BBB;
	color: #C00;
}
.qq-upload-button-focus {
	outline: 1px dotted #000000;
}
.qq-upload-drop-area, .qq-upload-extra-drop-area {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	min-height: 30px;
	z-index: 2;
	background: #FF9797;
	text-align: center;

	/* i-doit specific styles are always at the bottom */
	background:#EEE;
	border:1px solid #BBB;
	top: -6px;
	left: -6px;
	padding: 5px 5px 0px;
	height: 100%;
}
.qq-upload-drop-area span {
	display: block;
	position: absolute;
	top: 50%;
	width: 100%;
	margin-top: -8px;
	font-size: 16px;

	/* i-doit specific styles are always at the bottom */
	font-size: 11px;
}
.qq-upload-extra-drop-area {
	position: relative;
	margin-top: 50px;
	font-size: 16px;
	padding-top: 30px;
	height: 20px;
	min-height: 40px;
}
.qq-upload-drop-area-active {
	background: #FF7171;

	/* i-doit specific styles are always at the bottom */
	background: #DDD;
}
.qq-upload-list {
	margin: 0;
	padding: 0;
	list-style: none;

	/* i-doit specific styles are always at the bottom */
	float: right;
	width: 350px;
	margin-top: 2px;
}
.qq-upload-list li {
	margin: 0;
	padding: 9px;
	line-height: 15px;
	font-size: 16px;
	background-color: #FFF0BD;

	/* i-doit specific styles are always at the bottom */
	background: #eee;
	font-size: 12px;
	line-height: 12px;
	padding: 5px;
}
.qq-upload-file, .qq-upload-spinner, .qq-upload-size, .qq-upload-cancel, .qq-upload-failed-text, .qq-upload-finished {
	margin-right: 12px;
}
.qq-upload-file {
}
.qq-upload-spinner {
	display: inline-block;
	background: url("loading.gif");
	width: 15px;
	height: 15px;
	vertical-align: text-bottom;

	/* i-doit specific styles are always at the bottom */
	background: url('[{$dir_images}]ajax-loading.gif');
	width: 16px;
	height: 16px;
}
.qq-upload-finished {
    display:none;
    width:15px;
    height:15px;
    vertical-align:text-bottom;
}
.qq-upload-size, .qq-upload-cancel {
	font-size: 12px;
	font-weight: normal;
}
.qq-upload-failed-text {
	display: none;
}
.qq-upload-failed-icon {
    display:none;
    width:15px;
    height:15px;
    vertical-align:text-bottom;
}
.qq-upload-fail .qq-upload-failed-text {
	display: inline;
}
.qq-upload-list li.qq-upload-success {
	background-color: #5DA30C;
	color: #FFFFFF;
}
.qq-upload-list li.qq-upload-fail {
	background-color: #D60000;
	color: #FFFFFF;
}

/* i-doit specific styles are always at the bottom */
a.qq-upload-cancel {
	width: 16px;
	height: 16px;
	float: right;
	background: transparent url('[{$dir_images}]icons/silk/cross.png') no-repeat;
	margin-top: -2px;
}

*+html .qq-upload-spinner {
	display: block;
	float: left;
}

*+html .qq-upload-button {
	height: 20px;
	overflow: hidden;
}
*+html .qq-upload-button img,
*+html .qq-upload-button span {
	vertical-align: top !important;
}
