/*------------------------------------------------------------------------*
 * Login                                                                  *
 *------------------------------------------------------------------------*/
#loginInnerArea {
	margin: 100px auto;
	width: 500px;
	border: 1px solid #ccc;
}

#loginMessages {
	text-align: center;
}

#loginInnerArea label {
	font-size: 15px;
}

#loginInnerArea .input,
#loginInnerArea .inputText,
#loginInnerArea select {
	font-size: 15px;
	color: #444;
	width: 460px;
}

#loginContent {
	padding: 15px;
	min-height: 120px;
}

#loginContent #login_submit {
	padding: 5px 0;
}

#loginTable td {
	padding: 4px;
}

#loginContent .button {
	font-size: 13px;
	font-weight: bold;
}