.noprint,
.navBarTable,
#navBar,
#banner,
#reqDebugLog,
#mainNavi,
#searchModule,
#barcode,
#menuTreeOn,
#menuTreeOnContent,
#menuTreeJS,
#infoBox,
#contentButtons,
#debugLink,
#top,
#data-grid-mainList-pager,
#data-grid-mainList-options,
#flags,
#infoBox,
#searchBar,
#ContentHeaderSwitch,
#rackview #side_box,
#rackview img.object-options,
#rackview img.object-icon,
#rackview select.rack-switcher,
#rack_stats,
#draggableBar,
#child_racks img,
h3#recurse_racks,
h3#clicker {
	display: none;
}

body {
	font-family: "Lucida Grande", Tahoma, Arial, Helvetica, sans-serif;
	color: #000;
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 11px;
	background-color: #ffffff;
}

h1 {
	font-size: 16px;
	color: #6c6c6c;
}

a img {
	display: none;
}

hr {
	border: 1px solid black;
}

#contentHeader.small {
    height: 28px;
}

#contentHeader h1 {
	font-size: 17px;
}

#contentHeader h2 {
	margin: 5px 0 0 5px !important;
	font-size: 11pt;
	cursor:default;
}

#contentHeaderInnerTable {
	font-size: 7pt;
	display: block;
}

#contentHeaderInnerTable td {
	padding: 3px;
}

#contentHeaderArea h1 {
	margin: 0;
	padding: 0;
}

#contentHeaderArea table {
	margin: 0;
	padding: 0;
}

#ContentHeaderSwitch {
	text-align: center;
	height: 5px;
}

#contentButtons {
	margin: 0 0 10px 5px;
}

.mainTable {
	border: 1px solid #ccc;
	border-right: none;
	white-space: nowrap;
	width: 100%;
	text-align: left;
	border-spacing: 0;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

* html .mainTable {
	width: 100%;
}

.mainTable input {
	margin: 0 2px 0 2px;
}

.mainTable th {
	background: #e4e4e4 url('../../../../images/gradient.png') repeat-x;
	cursor: default;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #999;
	padding: 5px 4px 5px 4px;
	line-height: 20px;
	cursor: default;
	color: #dd3333;
}

.mainTable td {
	border-right: 1px solid #ddd;
	padding: 4px;
}

table.mainTable th, table.mainTable td {
	text-align: left;
}

.mainTable th a {
	color: #dd3333;
	text-decoration: none;
	font-weight: bold;
}

.mainTable th a:hover {
	color: #666;
}

/*------------------------------------------------------------------------*/
/* Forms                                                                  */
/*------------------------------------------------------------------------*/

div.nicEdit-selected,
textarea:focus,
select:focus,
input:focus {
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,.3);
	-moz-box-shadow   : 0 0 5px rgba(0,0,0,.3);
	box-shadow        : 0 0 5px rgba(0,0,0,.3);
	border: 1px solid #5897fb;
	/* This is used for some browsers which already display a border (webkit). */
	outline: 0;
}

.input-dual-large {
    width: 385px !important;
}

.input-dual-small {
    width: 154px !important;
}

/* Deprecated Please use "btn" */
a.button,
input.button,
button.button {
	padding: 2px;
	border: 1px solid #aaa;
	background: #ddd url('[{$dir_images}]gradient.png') repeat-x;
	text-shadow: 0 1px 0 #fff;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	color: #000;
	cursor: pointer;
}

/* Deprecated Please use "btn" - Special CSS for removing the dotted lines inside buttons (Firefox) */
a.button::-moz-focus-inner,
input.button::-moz-focus-inner,
button.button::-moz-focus-inner {
	border: 0;
}

/* Deprecated Please use "btn" */
a.button {
	display: inline-block;
}

/* Deprecated Please use "btn btn-small" */
a.button.slim,
input.button.slim,
button.button.slim {
	padding: 2px;
	padding-right:4px;
	line-height:12px;
}

/* Deprecated Please use "btn btn-small" */
a.button.slim img,
input.button.slim img,
button.button.slim img {
	height:14px;
	margin-top:-1px !important;
	vertical-align: middle;
}

/* Deprecated Please use "btn btn-mini" */
a.button.very-slim,
input.button.very-slim,
button.button.very-slim {
	padding: 0;
}

/* Deprecated Please use "btn" */
a.button:hover,
a.button:focus,
input.button:hover,
input.button:focus,
button.button:hover,
input.button:focus {
	border: 1px solid #bbb;
	background: #eee;
	color: #c00;
}

/* Deprecated Please use "btn" */
a.button.disabled,
a.button.disabled:hover,
a.button.disabled:focus,
a.button.disabled:active,
input.button.disabled,
input.button.disabled:hover,
input.button.disabled:focus,
input.button.disabled:active,
button.button.disabled,
button.button.disabled:hover,
button.button.disabled:focus,
button.button.disabled:active {
	top: 0;
	left: 0;
	color: #000;
	background: #ddd url('[{$dir_images}]gradient.png') repeat-x;
	opacity: .5;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
}

/* Deprecated Please use "btn" */
a.button:active,
input.button:active,
button.button:active {
	top: 1px;
	left: 1px;
	position: relative;
}

/* Deprecated Please use "btn" */
button.button img,
button.button span {
	margin-top:1px;
	vertical-align: middle;
}

/* Deprecated Please use "btn" */
a.button img,
a.button span {
	vertical-align: top;
	margin-top:-1px !important;
}

.inputText[readonly] {
	background-color: #CCCCCC;
}

.inputDialogListSelect {
	min-width: 160px;
}

.inputDialogListSelectDisabled {
	background-color: #CCCCCC;
	min-width: 160px;
}

input,
.inputTextarea,
.inputDialogListTable,
.input-file,
.inputFile,
.inputText,
.inputTextFilter,
.inputTextLogin,
.inputTextCalendar,
.inputDialog,
.inputDialogRecStatus {
	border: 1px solid #aaa;
	background: #FBFBFB;
	-moz-box-shadow: inset 1px 1px 2px rgba(200, 200, 200, 0.3);
	-webkit-box-shadow: inset 1px 1px 2px rgba(200, 200, 200, 0.3);
	box-shadow: inset 1px 1px 2px rgba(200, 200, 200, 0.3);
	padding: 2px 5px 2px 5px;
}

.contentTable .inputDialog, .contentTable .chosen-container-single {
	width: 555px;
}

.contentTable .inputText {
	width:542px;
}

.contentTable .inputTextarea {
	width:542px;
}

.contentTable .input-file,
.contentTable .inputFile {
	width: 500px;
}

.inputTextareaError,
.inputDialogListTableError,
.inputTextError,
.inputTextLoginError {
	color: #F00;
	border: 1px #F00 solid;
}

optgroup[disabled],
option[disabled] {
	color: #777;
}

textarea.noresize {
	resize: none;
}

.inputTextarea[disabled="disabled"],
.inputDialogListTable[disabled="disabled"],
.inputText[disabled="disabled"] {
	background: #f0f0f0;
}

.inputTextFilter {
	width: 175px;
}

.inputCheckbox,
.inputCheckboxError {
	background-color: #FFF;
}

.inputCheckboxError {
	color: #F00;
	border: 1px #F00 solid;
}

.inputLinkList {
	list-style-type: circle;
	list-style-position: outside;
	margin: 0;
	text-indent: 0;
	padding: 0;
	padding-left: 11px;
}

/* Global styling classes for all forms in i-doit - More to come "large", "verylarge" and maybe "fullsize" */
input.verysmall,
button.verysmall,
select.verysmall,
textarea.verysmall {
	width: 50px !important;
}

input.small,
button.small,
select.small,
textarea.small,
input.counterSmall {
	width: 100px !important;
}

input.normal-small,
button.normal-small,
select.normal-small,
textarea.normal-small {
	width: 160px !important;
}

input.normal,
button.normal,
select.normal,
textarea.normal {
	width: 250px !important;
}

input.large,
button.large,
select.large,
textarea.large {
	width: 490px !important;
}



table.contentInfoTable thead td,
table.contentInfoTable thead th {
	font-weight: bold;
	background: #dedede;
	border-bottom: 1px solid #898989;
}

table.contentInfoTable td {
	padding: .33em .5em;
	vertical-align: top;
	border-right: 1px dotted #ccc;
	border-bottom: 1px solid #ccc;
}

table.contentInfoTable tr {
	background: #fff;
}

table.contentInfoTable tbody tr:hover {
	background: #ecedff;
}

table.contentInfoTable td.value {
	color: #676767;
}

.contentTable .value {
	font-weight: bold;
	vertical-align: middle;
}

input {
	display: none;
}

.mainTable th {
	color: #000;
	font-size: 15px;
	font-weight: bold;
	border-bottom: 1px solid #ccc;
}

.contentTable {
	width:100%;
	padding: 5px 0 5px 0;
	border-spacing:0;
  	border-collapse:separate;
	color:#606060;
}

.contentTable td hr {
	margin:0;
	border-color:#ddd;
}

.contentTable td {
	padding: 2px 0 2px 0;
	vertical-align: middle;
}

.contentTable td.key {
	text-align: right;
	width:205px;
}

.contentTable td.value input,
.contentTable td.value select {
	font-weight:normal;
}

table.contentInfoTable thead td,
table.contentInfoTable thead th {
	font-weight: bold;
	background: #DEDEDE;
	border-bottom:1px solid #898989;
}
table.contentInfoTable td {
	padding: .33em .5em;
	vertical-align: top;
	border-bottom:1px solid #ccc;
}
table.contentInfoTable tr {
	background: #fff;
}
table.contentInfoTable tbody tr:hover {
	background: #ECEDFF;
}
table.contentInfoTable td.value {
	color: #676767;
}

.contentTable .value {
	font-weight:bold;
	vertical-align: middle;
}

/* for having different colours for each row */
.CMDBListElementsEven,
.CMDBListElementsOdd {
	cursor:pointer;
}

.CMDBListElementsEven {
	background-color: #fff;
}

.CMDBListElementsOdd {
	background-color: #f4f4f4;
}

.CMDBListElementsEven:hover,
.CMDBListElementsOdd:hover {
	background-color:#eeeeee;
}

.CMDBListElementsEvenHighlight, .CMDBListElementsOddHighlight, .LogbookListElement0Highlight {
	background-color:#eee;
}

#contentHeader {
	background-color: #efefef;
	border-bottom:1px solid #888;
}

#contentHeader .contentHeaderImage {
	margin-right:10px;
}

.contentHeaderImage {
	position: relative;
	max-width: 100%;
	float: left;
}

.contentHeaderImage::before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	box-shadow: inset 0 -10px 10px -10px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: inset 0 -10px 10px -10px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: inset 0 -10px 10px -10px rgba(0, 0, 0, 0.25);
}

.contentHeaderImage img {
	float:left;
}

#contentHeaderTable h1 {
	position: absolute;
	left: 120px;
	top: 5px;
}

#contentHeaderTable table {
	position: absolute;
	left: 120px;
	top: 30px;
}

div.container div img {
	display: none;
}

div.container {
	clear: both;
}

.sortable {
	border: 1px solid #aaa;
	background: #ddd;
	padding: 0;
}

.sortable ul {
	list-style: none;
	padding: 0;
	margin: 5px;
}

.sortable ul li {
	border: 1px solid #ccc;
	border-bottom-width: 2px;
	margin: 4px 0;
	line-height: 1.6em;
	vertical-align: middle;
	font-style: normal;
}

#sortables div h2 {
	border: 1px solid #aaa;
	border-bottom: 0;
	margin: 0;
	padding: 5px;
	background: #ccc;
	font-size: 14px;
}

#sortables .container {
	margin-top: 10px;
	margin-bottom: 5px;
	width: 100%;
}

.sortable tr td {
	cursor: default;
}

.sortable ul li .separator {
	border-right: 1px solid #aaa;
	margin-right: 5px;
	padding: 2px 8px 2px;
	font-weight: bold;
	background: #ccc;
}

html>body .sortable .draggable {
	background-color: #ccc;
}

.sortable .unused {
	background: #eee;
}

a.close {
	display: none;
}

#sortables li div span {
	vertical-align: middle;
}

#sortables ul li img {
	display: block;
	border: 1px solid #fff;
	width: 15px;
	height: 15px;
	vertical-align: middle;
	margin-top: 1px;
	margin-right: 5px;
}

.toolbar a {
	padding: 2px 3px 2px 3px;
	border: 1px solid #ccc;
	background: #ddd;
}

.toolbar a:hover,
.toolbar a:active {
	border: 1px solid #bbb;
	background: #eee;
}

.green {
	color: Green;
}

.red {
	color: Red;
}

.grey {
	color: #999;
}

.sortable {
	border: 1px solid #aaa;
	background: #ddd;
	padding: 0;
}

.sortable ul {
	list-style: none;
	padding: 0;
	margin: 5px;
}

.sortable ul li {
	border: 1px solid #ccc;
	border-bottom-width: 2px;
	margin: 4px 0;
	cursor: default;
	line-height: 1.6em;
	vertical-align: middle;
	font-style: normal;
}

.sortable ul li:active {
	background: #fff;
	border: 1px solid #999;
}

.sortable ul li:hover {
	border: 1px solid #aaa;
	border-bottom-width: 2px;
}

#sortables div h2 {
	border: 1px solid #aaa;
	border-bottom: 0;
	margin: 0;
	padding: 5px;
	background: #ccc;
}

#sortables .container {
	width: 300px;
}

.sortable tr {
	border: 1px solid #ccc;
	border-bottom-width: 2px;
	background: #eee;
	padding: 5px;
	margin: 5px 0;
	cursor: default;
	font-style: normal;
}

.sortable tr td {
	cursor: default;
}

.sortable ul li .separator {
	border-right: 1px solid #aaa;
	margin-right: 5px;
	padding: 2px 8px 2px;
	font-weight: bold;
	background: #ccc;
}

html>body .sortable .draggable {
	background-color: #ccc;
}

.sortable .unused {
	background: #eee;
}

a.close {
	display: block;
	padding: 2px 4px 2px 4px;
	background: #efefef;
	border-left: 1px solid #999;
}

a.close:hover {
	border-left-color: #555;
	background: #fff;
}

#sortables li div span {
	vertical-align: middle;
}

#sortables ul li img {
	border: 1px solid #fff;
	width: 15px;
	height: 15px;
	vertical-align: middle;
	margin-top: 1px;
	margin-right: 5px;
}

/*------------------------------------------------------------------------*/
/* Category overview and general fieldsets */
/*------------------------------------------------------------------------*/
fieldset {
	border: 1px dotted #ccc;
	margin-top: 1.4em;
	padding: 0.8em;
}

fieldset.overview {
	position:relative;
	margin: 0;
	padding: 25px 0 0 0;
	border:0;
	color: #606060;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 1);
}

fieldset.overview legend span {
	position:absolute;
	display:block;
	left:0;
    top:0;
	color: #444;
	width:100%;
	font-size: 12px;
	padding: 5px;
	background: #eee;
	text-shadow: 0 1px 1px #fff;
	border-bottom: 1px solid #888;
	border-top: 1px solid #888;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eeeeee));
	background: -moz-linear-gradient(top, #fff, #eeeeee);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#eeeeee');
}
fieldset.overview legend span.border-top-none {
	border-top:none;
}
fieldset.overview legend span:after, fieldset.overview legend span:before {
	top: 100%;
	left: 20px;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

fieldset.overview legend span:after {
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #eee;
	border-width: 6px;
	margin-left: -6px;
}
fieldset.overview legend span:before {
	border-color: rgba(0, 0, 0, 0);
	border-top-color: #888;
	border-width: 7px;
	margin-left: -7px;
}

fieldset.overview legend {
	font-weight: bold;
	display: block;
	width:100%;
}

fieldset.overview table {
	border: 0;
	background: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

fieldset.overview .mainTable .CMDBListElementsOdd,
fieldset.overview .mainTable .CMDBListElementsEven {
	background-color:#fff;
}
fieldset.overview .mainTable tr:hover {
	background-color: #f5f5f5;
}
fieldset.overview .mainTable tr:first-child:hover {
	background-color: transparent !important;
}
fieldset.overview .mainTable td,
fieldset.overview .mainTable th {
	padding-left:7px;
	background:transparent !important;
}
fieldset.overview .mainTable td {
	border:0;
}
fieldset.overview .mainTable th:last-child {
	border-right:0;
}
fieldset.overview .mainTable th {
	border-color:#eee;
	line-height:15px;
}

fieldset.overview div.list {
	padding: 5px;
}

fieldset.overview div.list table {
	/*border:1px solid #ccc;*/
}


* html fieldset.tips p {
	margin: 7px 0 0 5px;
}

fieldset.tips ul {
	margin-left: 25px;
}

fieldset.tips ul li {
	margin-top: 2px;
}

ul.browser-tabs {
	height: 26px;
	list-style: none;
	border-bottom: 1px solid #888;
	padding-top: 8px;
	font-size: 10px;
	padding-left: 0;
}

ul.browser-tabs li {
	float: left;
	font-weight: bold
}

ul.browser-tabs a {
	float: left;
	padding: 5px 8px;
	margin-left: 6px;
	text-decoration: none;
	height: 15px;
	color: #555;
}

ul.browser-tabs li.disabled a {
	color: #999;
}

ul.browser-tabs a:hover {
	color: #000;
}

ul.browser-tabs a.active {
	background-color: #fff;
	border: 1px solid #888;
	border-bottom: 1px solid transparent !important;
	color: #333;
}

.prototools-table {
	width: 100%;
	text-align: left;
	border-spacing: 0;
	margin-top: 5px;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.prototools-table td,
.prototools-table th {
	border-right: 1px solid #d6d6d6;
	padding: 1px 3px 1px 3px;
	line-height: 18px;
	white-space: nowrap;
}

.prototools-table th {
	border-bottom: 1px solid #ccc;
	background: #ddd url('../../../../images/gradient.png') repeat-x;
	text-shadow: 0 1px 0 #fff;
	line-height: 20px;
	font-size: 10px;
	cursor: default;
}

.prototools-table tr.line0 {
	background-color: #ffffff;
}

.prototools-table tr.line1 {
	background-color: #f3f3f3;
}

.prototools-table tr.on {
	background-color: #eee;
	cursor: pointer;
}

.prototools-table tr.selected {
	background-color: #ddd;
	cursor: pointer;
}

.prototools-table tr.selected td {
	font-weight: bold;
}

div.prototools-pager {
	margin: 10px;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

div.prototools-pager .currentpage {
	padding-left: 5px;
	padding-right: 5px;
	font-weight: bold;
}

div.prototools-pager .totalpages {
	padding: 0;
}

div.prototools-pager a {
	margin: 0 3px;
	cursor: default;
	padding: 2px 4px 2px 4px;
	text-shadow: none;
}

.prototools-table th.desc {
	background: #ddd url('../../../../images/list/desc.gif') no-repeat right center;
	user-select: none;
}

.prototools-table th.asc {
	background: #ddd url('../../../../images/list/asc.gif') no-repeat right center;
	border-right: 1px solid #d6d6d6;
}

div.prototools-options {
	float: right;
	margin-right: 10px;
}

div.prototools-options input,
div.prototools-options select {
	border: 1px solid #ccc;
	margin: 0 0 5px 5px;
	padding: 2px;
}

ul.tabs {
	height: 26px;
	list-style: none;
	border-bottom: 1px solid #888;
	padding: 0;
	margin-bottom: 0;
}

ul.tabs li {
	float: left;
}

ul.tabs a {
	float: left;
	padding: 5px 8px;
	margin-left: 6px;
	border: 1px solid #888;
	text-decoration: none;
	height: 15px;
	line-height: 15px;
	color: #000;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	border-radius: 5px 5px 0 0;
}

ul.tabs a:hover {
	color: #444;
}

ul.tabs a.active {
	background-color: #fff;
	border: 1px solid #888;
	border-bottom: 1px solid transparent !important;
	color: #333;
	font-weight: bold;
	text-decoration: underline;
}

.fl { float: left; }

.fr { float: right; }

.cb { clear: both; }

.m0 { margin: 0; }

.m5 { margin: 5px; }

.m10 { margin: 10px; }

.ml5 { margin-left: 5px; }

.mr5 { margin-right: 5px; }

.mt5 { margin-top: 5px; }

.mt10 { margin-top: 10px; }

.mt15 { margin-top: 15px; }

.mb5 { margin-bottom: 5px; }

.mb10 { margin-bottom: 10px; }

.mb15 { margin-bottom: 15px; }

table.two-col th, table.two-col td { width: 50%; }

table.three-col th, table.three-col td { width: 33%; }

table.four-col th, table.four-col td { width: 25%; }

table.five-col th, table.five-col td { width: 20%; }

.bold { font-weight: bold; }

.underline { text-decoration: underline; }

.p5 { padding: 5px; }

.p10 { padding: 10px; }

.pl5 { padding-left: 5px; }

.pl15 { padding-left: 15px; }

.pr5 { padding-left: 5px; }

.pt5 { padding-top: 5px; }

/* IE7+ fix for ugly looking buttons. */
.toolbar-cmdb a {
	display: block;
}

.toolbar a {
	padding: 5px 3px 5px 3px;
	border: 1px solid #ccc;
	background: #ddd url('../../../../images/gradient.png') repeat-x;
	text-shadow: 0 1px 0 #fff;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	color: #000;
}

.toolbar a:hover,
.toolbar a:active {
	border: 1px solid #bbb;
	background: #eee;
	color: #00a
}

.green {
	color: #009900;
}

.bold {
	font-weight: bold;
}

.underline {
	text-decoration: underline;
}

.note {
	background: #d4ffde;
	border: 1px solid #589c8d;
}

.error {
	background-color: #ffdddd;
	border: 1px solid #ff4343;
	color: #000000;
}

.black { color: #000; }

.grey { color: #999; }

.red { color: #a00; }

.darkgrey { color: #555; }

.vat { vertical-align: top; }

.vam { vertical-align: middle; }

.vab { vertical-align: bottom; }

.center { text-align: center; }

.text-shadow {
	text-shadow: 0 1px 0 #fff;
	cursor: default;
}

.text-shadow-black {
	text-shadow: 0 1px 0 #000;
	cursor: default;
}

.gradient {
	background: #ddd url('../../../../images/gradient.png') repeat-x;
}

.image-shadow {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #aaa;
	-moz-box-shadow: 2px 2px 4px #222;
	-webkit-box-shadow: 2px 2px 4px #222;
}

.hover {
	background-color: #eee;
	border: 1px dashed #888;
	font-weight: bold;
}

.border-left {
	border-left: 1px solid #888;
}

.header {
	border-bottom: 1px solid #999;
}

/* Special styles for the rack-view */
#rackview,
#rackview table {
	width: 100%;
}

#rackview h3 {
	margin-bottom: 0;
	text-shadow: none;
}

#rackview #rack_front,
#rackview #rack_rear, .rack {
	display: inline-block;
	border: 1px solid #b7b7b7;
	border-top: none;
	width: 315px;
	padding: 10px 0;
	margin: 0 0 0 5px;
	background: #fff !important;
}

#rackview tr.row {
	height: 20px;
}

#rackview div.slot,
#rackview td.slot {
	width: 90%;
	background: #ddd url('../../../../images/pattern1.png');
	cursor: default;
	border: 1px solid #b7b7b7;
	font-size: 11px;
	position: relative;
}

#rackview td.slot div span {
	width: 135px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#rackview .slot.last {
	margin-bottom: 0;
}

#rackview .last td.slot {
	border: 1px solid #b7b7b7;
}

#rackview .left-slots,
#rackview .right-slots {
	width: 53px;
	position: relative;
}

#rackview .left-slots .slot,
#rackview .right-slots .slot {
	display: inline-block;
	height: 220px;
	width: 20px;
	margin: 2px;
}

#rackview .main-slots td {
	color: #000;
	font-size: 10px;
	vertical-align: middle;
}

#rackview td.slot {
	border-bottom: none;
	vertical-align: top;
}

#rackview td.slot div {
	overflow: hidden;
}

#rackview td.slot div img {
	margin-right: 5px;
	width: 16px;
	height: 16px;
}

#rackview td.slot div span {
	display: inline-block;
	vertical-align: top;
	padding-top: 2px
}

#rackview .clear {
	clear: both;
}

#rackview .rotated {
	bottom: 100px;
	right: -100px;
	width: 220px;
	height: 20px;
	position: absolute;
	writing-mode: lr-tb;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

#rackview .rotated span {
	width: 150px;
	height: 15px;
	overflow: hidden;
	display: inline-block;
	margin-left: 5px;
}

/* IE8 hacks */
@media \0screen {
	#rackview .rotated span {
		position: relative;
		width: 25px;
		height: 190px;
		left: -20px;
		top: 15px;
	}

	#rackview .rotated {
		width: 25px;
		height: 200px;
		writing-mode: tb-lr;
		left: 0;
		bottom: 0;
	}

}

/* IE7 hacks */
*+html #rackview .rotated {
	width: 25px;
	height: 200px;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

*+html #rackview h3,
*+html #rackview #rack_front,
*+html #rackview #rack_rear,
*+html #rackview .rack {
	display: block;
	position: relative;
}

/* Special styles for the rack-view inside locations */
#child_racks div.rack.rear,
#child_racks div.rack.front,
#rackview_scroller div.rack.rear,
#rackview_scroller div.rack.front {
	display: inline-block !important;
}

#child_racks,
#rackview_scroller {
	width: auto !important;
}

#child_racks div.rack-container,
#rackview_scroller div.rack-container {
	display: block !important;
}

#rackview {
	overflow: auto !important;
}

*+html #rackview_scroller,
*+html #child_racks {
	position: relative !important;
	clear: both !important;
	width: auto !important;
	display: block !important;
}

/* IE7 hacks */
*+html #rackview #rackview_scroller div.rack-container,
*+html #rackview #child_racks div.rack-container {
	width: 700px !important;
	position: relative !important;
	display: inline-block !important;
	clear: both !important;
}

*+html #rackview #rackview_scroller div.rack,
*+html #rackview #child_racks div.rack-container div.rack {
	display: block !important;
	position: relative !important;
	float: left !important;
	width: 300px !important;
}