@media screen and (max-width: 1280px) {
	/* Shrinking all these large form input fields */
	.input,
	.contentTable .chosen-container-single,
	.contentTable textarea {
		width: 80%;
	}

	.contentTable td.value .input-dual-small {
		width:20% !important;;
	}
	.contentTable td.value .input-dual-large {
		width:60% !important;
	}
}
@media screen and (max-width: 1024px) {
	/* Shrinking width of the key description in contentTable */
	.contentTable td.key {
		text-align: right;
		width: 150px;
	}
	/* Hiding qr code */
	#contentHeader .qr-code {
		display:none;
	}
	/* Decreasing font size in object's head overview */
	#contentHeaderInnerTable {
		font-size:6pt;
	}
	/* Prevent horizontal scrollbars because of a high min-width for #top */
	div#top  {
		min-width: 0;
	}
	/* Prevent horizontal scrollbars for contentWrapper as well */
	div#contentWrapper {
		min-width:400px;
	}
}

@media screen and (max-width: 1280px) {
	/* Hide input Filter and Page x of y info */
	#contentHeader div.paging div:nth-child(2), #contentHeader div.paging div:nth-child(3), #contentHeader div.paging div:nth-child(4) {
		display:none;
	}
}

@media screen and (max-width: 850px) {
	/* Disabling CKEditor's header */
	.contentTable .cke_inner .cke_top {
		display:none;
	}
	/* Removing commentary's margin */
	.contentTable div.commentary {
		margin:0 0 0 8px !important;;
	}
	/* Shrinking key description in contentTable */
	#scroller .contentTable td.key {
		text-align: right;
		width: 100px;
	}
	/* Decreasing content font size */
	#scroller .contentTable {
		font-size:10px !important;
	}
	/* Shrinking info icons */
	img.infoIcon {
		width:2px;
	}
	/* Hiding global search box */
	#searchBar .sbox {
		display:none;
	}
	#searchBar span.login-string {
		display:none;
	}
	#searchBar span.login-small {
		visibility: visible;
		font-weight:bold;
	}
    /* Hiding list filter */
	#mainList > div.mainTable-options {
		display:none;
	}
	#cSpanRecFilter > div.paging > div.pager-results,
	#cSpanRecFilter > div.paging > div.pager-filter {
		display:none;
	}
	/* Hide top menu's downarray */
	.arrowsprite {
		display:none;
	}
}