span.sbox input {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	padding: 2px 0 1px 3px;
	background: url([{$dir_images}]search-white.png) no-repeat 5px 2px #fff;
	width: 120px;
	-moz-transition: width 0.5s ease-out;
	-webkit-transition: width 0.5s ease-out;
	transition: width 0.5s ease-out;
	outline: none;
	color: #333;
	padding-top: 1px;
	margin-top: -1px;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
	vertical-align: middle;
}

span.sbox input:focus {
	width: 220px;
	-moz-transition: width 0.5s ease-out;
	-webkit-transition: width 0.5s ease-out;
	transition: width 0.5s ease-out;
}

.treeSearchIcon {
	position: absolute;
	right: 6px;
}

.treeSearch {
	box-shadow: none;
}

#treeSearchInput {
	width: 80px;
	border: 0;
	z-index: 300;
	position: relative;
	font-size: 11px;
	padding: 0;
}

#treeSearchInput:focus {
	box-shadow: none;
	border: 0;
	outline: 0;
	width: 75%;
}

.highlightSearch {
	background-color: #d6dde5;
	border-radius: 5px;
	text-shadow: 0 1px #fff;
}

tr.highlightLine {
	background-color: #d6dde5 !important;
}

#searchBar #helpSearch {
	margin-right: 3px;
	margin-left: 0;
}