/* You are using the following browser:
 *
 * - type    [{$gBrowser.type}]
 * - version [{$gBrowser.version}]
 *
 * This css file is adjusted to your browser:
 */

/*------------------------------------------------------------------------*/
/* Global */
/*------------------------------------------------------------------------*/
* {
	margin: 0;
	padding: 0;
}

body {
	/*font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;*/
	font-family: Tahoma, Geneva, Helvetica, sans-serif;
	color: #000;
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 11px;
	background-color: #fff;
}

ul, ol {
	margin: 15px;
}

.list-style-none {
	list-style: none;
}

.content_title {
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
}

h2 {
	font-size: 14px;
}

h3 {
	font-size: 12px;
}

h4 {
	font-size: 11px;
}

a, .inputLinkLink, a:active {
	color: #333;
	text-decoration: none;
}

a:hover {
	color: #c00;
}

img {
	border: 0;
}

th {
	text-align: left;
}

label {
	/* We set the line height to 22px, because that's also the height of the form-elements. */
	line-height: 22px;
	font-weight: normal;
}

code {
	color: green;
	font-family: Courier New, Lucida Console, Monospace, Monaco, sans-serif, serif;
}

legend {
	background-color: #fff;
	cursor: default;
}

.typewriter {
	font-family: Courier New, Lucida Console, Monospace, Monaco, sans-serif, serif;
}

/*------------------------------------------------------------------------*/
/* Content */
/*------------------------------------------------------------------------*/

div.logo-top-left {
	display: inline-block;
	position: absolute;
	top: 1px;
	background-color: #fff;
	padding: 4px 17px 5px 10px;
	margin-top: 2px;
	-webkit-border-top-right-radius: 15px;
	-webkit-border-bottom-right-radius: 15px;
	-moz-border-radius-topright: 15px;
	-moz-border-radius-bottomright: 15px;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
}

div.logo-top-left:before {
	content: "";
	position: fixed;
	top: -10px;
	left: 0;
	width: 100%;
	height: 10px;

	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, .8);
	box-shadow: 0 0 10px rgba(0, 0, 0, .8);

	z-index: 100;
}

div#wrapper {
	min-height: 100%;
	margin-bottom: 5px;
}

* html #wrapper {
	height: 100%;
}

acronym {
	border-bottom: 1px dashed #000;
}

#top {
	color: #fff;
	border-bottom: 2px solid #e64117;
	height: 30px;
	line-height: 30px;
	min-width: 1200px;
	background: #262626;
	background: -moz-linear-gradient(#262626, #111);
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #111), color-stop(1, #262626));
	background: -webkit-linear-gradient(#262626, #111);
	background: -o-linear-gradient(#262626, #111);
	background: -ms-linear-gradient(#262626, #111);
	background: linear-gradient(#262626, #111);
}

* html #contentArea {
	float: left;
}

#contentArea {
	background-color: #d6dde5;
	padding-bottom: 30px;
	border-right: 0;
	border-left: 1px solid #888;
	border-top: 1px solid #888;
	position: absolute;
	bottom: 0;
	top: 32px;
	left: 237px;
	right: 0;
}

#contentWrapper {
	overflow-y: auto;
	overflow-x: hidden;
	min-width: 800px;
	position: absolute;
	top: 71px;
	bottom: 22px;
	left: 0;
	right: 0;
}

#dashboardWrapper {
	overflow-y: auto;
	overflow-x: hidden;
	min-width: 800px;
	position: absolute;
	top: 35px;
	bottom: 22px;
	left: 0;
	right: 0;
	background:#fff;
}

#contentArea #flags {
	position: absolute;
	right: 5px;
	top: 10px;
	margin: 0;
	padding: 0;
}

#contentArea #flags li {
	list-style-type: none;
	float: left;
	height: 16px;
	width: 16px;
	margin: 0 0 0 5px;
}

#contentArea #flags a {
	line-height: 16px;
	width: 16px;
	display: block;
}

* html #contentArea {
	overflow: visible;
}

#contentArea .contentTitle {
	padding: 5px;
	background-color: #eee;
	border: 1px solid #888;
	margin: 5px 5px 0 5px;
}

#contentTopOn {
	margin-top: 5px;
}

#contentTopOff {
	margin-top: 5px;
}

#contentTopShadow {
	position: fixed;
	width: 100%;
	height: 5px;
	margin-top:-5px;
	z-index: 999;
	-webkit-box-shadow: 0 3px 7px rgba(100, 100, 100, 0.2);
	-moz-box-shadow: 0 3px 7px rgba(100, 100, 100, 0.2);
	box-shadow: 0 3px 7px rgba(100, 100, 100, 0.2);
}

#contentHeader {
	background-color: #efefef;
	border-bottom:1px solid #888;
}

#contentHeader .contentHeaderImage {
	margin-right:10px;
}

.contentHeaderImage {
	position: relative;
	max-width: 100%;
	float: left;
}

.contentHeaderImage::before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	box-shadow: inset 0 -10px 10px -10px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: inset 0 -10px 10px -10px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: inset 0 -10px 10px -10px rgba(0, 0, 0, 0.25);
}

.contentHeaderImage img {
	float:left;
}

#contentDescription {
	margin: 5px 5px 0 5px;
	background-color: #fff;
	border: 1px solid #aaa;
}

#contentHeader.small {
	height: 28px;
}

#contentHeader h1 {
	font-size: 17px;
}

#contentHeader h2 {
	margin: 5px 0 0 5px !important;
	font-size: 11pt;
	cursor:default;
}

#contentHeaderInnerTable {
	font-size: 7pt;
	display: block;
}

#contentHeaderInnerTable td {
	padding: 3px;
}

#contentHeaderArea h1 {
	margin: 0;
	padding: 0;
}

#contentHeaderArea table {
	margin: 0;
	padding: 0;
}

#ContentHeaderSwitch {
	text-align: center;
	height: 5px;
}

#contentBottom {
	background-color: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
	background: -moz-linear-gradient(top, #fff, #eee);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee');
	border-bottom:1px solid #888;
}

#contentButtons {
	margin: 0 0 10px 5px;
}

/* main content */
#contentBottomContentCommentary {
	border: 1px solid #ccc;
	padding: 5px;
	margin: 5px;
}

#outer_category_global {
	min-height: 100px;
	padding: 0;
}

hr {
	border: 0;
	border-bottom: 1px solid #ccc;
	height: 1px;
}

/*------------------------------------------------------------------------*/
/* scrollable */
/*------------------------------------------------------------------------*/
.active_tab {
	border: 1px solid #31acc2;
	border-bottom-style: none;
}

.non_active_tab {
	position: absolute;
	margin-top: 0;
	background-color: #fff;
	border: 1px solid #31acc2;
	border-left-style: none;
	z-index: inherit;
}

.tab_spacer {
	background-color: #f2fcfd;
	width: 100%;
	border-bottom: 1px solid #31acc2;
}

a.tablink:link {
	font-weight: bold;
}

a.active_tablink:link, a.active_tablink:visited {
	font-weight: bold;
	text-decoration: underline;
}

/*------------------------------------------------------------------------*/
/* Banner */
/*------------------------------------------------------------------------*/
#banner {
	border-bottom: 1px solid #000;
}

#search {
	border: 0;
	position: absolute;
	right: 10px;
	top: 17px;
}

#home {
	position: absolute;
	right: 10px;
	top: 15px;
	cursor: default;
}

#home a {
	color: #fff;
}

#mainClock {
	color: #fff;
	position: absolute;
	right: 10px;
	top: 35px;
	cursor: default;
}

/*------------------------------------------------------------------------*/
/* Infobox above the content area */
/*------------------------------------------------------------------------*/
#infoBox {
	border-top: 1px solid #888;
	height: 22px;
	line-height: 21px;
	background: url('[{$dir_images}]bc_bg.gif') repeat-x;
	text-shadow: 0 1px 1px #fff;
	position: fixed;
	left: 236px;
	bottom: 0;
	right: 0;
	overflow: hidden;
	padding:0 3px 0 3px;
	z-index: 990;
}

#infoBox .version
{
	color:#bbb;
	float:right;
	padding-right:3px;
}

#infoBox img {
	margin-top:3px;
}

#infoBox span {
	vertical-align: top;
}

#error {
	position: absolute;
	left: 30%;
	top: 80px;
	width: 40%;
	z-index: 999;
}

#error span a {
	color: #555;
	font-weight: bold;
}

#error span.close {
	position: absolute;
	right: 5px;
}

.login_msg {
	margin: 1px 5px 0 5px;
	color: #000;
}

.login_error {
	text-align: left;
	background-color: #fdd;
	border: 1px solid #ff4343;
	color: #000;
	width: 250px;
	margin: 10px auto;
	z-index: 500;
	overflow: auto;
}

.login_error p {
	margin: 5px;
}

.login_error div {
	background-color: #ffa1a1;
	border-bottom: 1px solid #ff4343;
	padding: 5px;
	margin: 0;
}

#log_footer {
	margin: 0;
	height: 20px;
	border-top: 1px solid #898989;
	background: url("[{$dir_images}]login_gradient.png") repeat-x;
}

/*------------------------------------------------------------------------*/
/* Menu tree */
/*------------------------------------------------------------------------*/
#menuTreeOn {
	position: absolute;
	bottom: 0;
	top: 32px;
	width: 235px;
	margin-right: 5px;
	overflow: auto;
	border-left: 0;
	border-top: 1px solid #888;
}

#menuTreeJS {
	overflow: auto;
	padding: 10px;
}

#treeTop {
	border-bottom: 1px solid #888;
	height: 15px;
	min-width: 230px;
}

.menuTreeTopArea {
	background-color: #d6dde5;
	min-width: 210px;
}

#menuTreeOn table {
	background-color: #fff;
	padding-bottom: 15px;
}

#menuTreeSwitchOn {
	width: 5px;
	background-color: #ccc;
	z-index: 11;
}

/*------------------------------------------------------------------------*/
/* Overlay */
/*------------------------------------------------------------------------*/
#overlay {
	position: absolute;
	background: #000;
	width: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 1000;
}

#content_overlay {
	z-index: 100;
	background: #222;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
}

#new_overlay {
	position: absolute;
	margin-top: 30px;
	left: 5px;
	z-index: 9999;
}

#new_overlay ul, .new_overlay ul {
	list-style: none;
	margin: 0;
	padding: 0;
	border: 1px solid #aaa;
	border-top:none;
	font-size: 85%;
}

#new_overlay ul li, .new_overlay ul li {
	line-height: 24px;
}

#new_overlay ul li a, .new_overlay ul li a {
	display: block;
	color: #000;
	font-weight: bold;
	vertical-align: middle;
	background: #fff;
	padding: 0 5px 0 3px;
}

#new_overlay ul li a:hover, .new_overlay ul li a:hover {
	color: #222;
	background-color: #eee;
}

/*------------------------------------------------------------------------*/
/* Category overview and general fieldsets */
/*------------------------------------------------------------------------*/
fieldset {
	border: 1px dotted #ccc;
	margin-top: 1.4em;
	padding: 0.8em;
}

fieldset.overview {
	position:relative;
	margin: 0;
	padding: 25px 0 0 0;
	border:0;
	color: #606060;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 1);
}

fieldset.overview legend span {
	position:absolute;
	display:block;
	left:0;
	top:0;
	color: #444;
	width:100%;
	font-size: 12px;
	padding: 5px;
	background: #eee;
	text-shadow: 0 1px 1px #fff;
	border-bottom: 1px solid #888;
	border-top: 1px solid #888;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
	background: -moz-linear-gradient(top, #fff, #eee);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#eeeeee');
}

fieldset.overview legend span.border-top-none {
	border-top:none;
}

fieldset.overview legend span:after, fieldset.overview legend span:before {
	top: 100%;
	left: 20px;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

fieldset.overview legend span:after {
	border: 6px solid transparent;
	border-top-color: #eee;
	margin-left: -6px;
}

fieldset.overview legend span:before {
	border: 7px solid transparent;
	border-top-color: #888;
	margin-left: -7px;
}

fieldset.overview legend {
	font-weight: bold;
	display: block;
	width:100%;
}

fieldset.overview table {
	border: 0;
	background: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

fieldset.overview .mainTable .CMDBListElementsOdd,
fieldset.overview .mainTable .CMDBListElementsEven {
	background-color:#fff;
}

fieldset.overview .mainTable tr:hover {
	background-color: #f5f5f5;
}

fieldset.overview .mainTable tr:first-child:hover {
	background-color: transparent !important;
}

fieldset.overview .mainTable td,
fieldset.overview .mainTable th {
	padding-left:7px;
	background:transparent !important;
}

fieldset.overview .mainTable td {
	border:0;
}

fieldset.overview .mainTable th:last-child {
	border-right:0;
}

fieldset.overview .mainTable th {
	border-color:#eee;
	line-height:15px;
}

fieldset.overview div.list {
	padding: 5px;
}

fieldset.overview div.list table {
	/*border:1px solid #ccc;*/
}

* html fieldset.tips p {
	margin: 7px 0 0 5px;
}

fieldset.tips ul {
	margin-left: 25px;
}

fieldset.tips ul li {
	margin-top: 2px;
}

/*------------------------------------------------------------------------*/
/* TOOLTIPS */
/*------------------------------------------------------------------------*/
.default {
	color: #000;
	border: 1px solid #a5cfe9;
	filter: alpha(opacity=85);
	opacity: 0.85;
}

.default .title {
	background: #d5ebf9;
	font-weight: bold;
	padding: 5px;
}

.default .content {
	background: #fff;
	padding: 5px;
}

div.headline {
	border-bottom: 1px solid #bbb;
}

ul.menu {
	padding: 0 15px 0 0;
	list-style: none;
	display: block;
	margin: 5px;
}

ul.menu li {
	margin-top: 1px;
	padding-top: 2px;
	min-width:135px;
}

ul.menu li a {
	border: 1px solid #e3e3e3;
	background: #f2f2f2;
	padding: 4px 10px;
	display: block;
	color:#444;
	text-shadow: 1px 0 #fff;
}

ul.menu li a:hover {
	background: #eee;
	border-color: #ccc;
}

ul.menu li a:active {
	background: #fff;
}

#browserContentTop {
	margin: 5px;
}

#browserContentBottom {
	margin: 5px;
}

/*------------------------------------------------------------------------*/
/* Multiselectbox */
/*------------------------------------------------------------------------*/
.multiselect {
	position: fixed;
	z-index: 9999;
	background-color: #fff;
	display: block;
	height: 285px;
	overflow: auto;
	font-size: 85%;
	width: 298px;
	border: 1px solid #aaa;
	margin: -1px 0;
}

.multiselect ul {
	list-style: none;
	margin: 0;
	padding: 0;
	border-top: none;
	font-size: 1em;
}

.multiselect ul li {
	line-height: 20px;
	border-bottom: 1px solid #ccc;
	height: 17px;
	vertical-align: middle;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 7px;
	text-shadow: 1px 1px #fff;
}

.multiselect ul li:hover {
	background-color: #eee;
}

.multiselect ul li label {
	display: block;
	line-height: 17px;
}

.multiselect .white {
	background-color: #fff;
}

.confhead {
	cursor: default;
	height: 15px;
	background: #ddd;
	border-bottom: 1px solid #ccc;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

ul.tabs {
	height: 26px;
	list-style: none;
	border-bottom: 1px solid #888;
	padding: 0;
	margin: 0;
}

ul.tabs li {
	float: left;
}

ul.tabs li:first-child {
	margin-left:-6px;
}

ul.tabs a {
	float: left;
	padding: 5px 8px;
	margin-left: 6px;
	border: 1px solid #888;
	text-decoration: none;
	font-weight: bold;
	height: 15px;
	line-height: 15px;
	color: #000;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	border-radius: 5px 5px 0 0;
}

ul.tabs a:hover {
	color: #444;
}

ul.tabs a.active {
	background-color: #fff;
	border: 1px solid #888;
	border-bottom: 1px solid transparent !important;
	color: #333;
	text-decoration: underline;
}

.tab-content {
	border: 1px solid #888;
	border-top: 0;
	background: #fff;
	margin:0;
	min-height: 25px;
}

#cable_run {
	background: #eee;
	border: 1px solid #ccc;
}

div.connector td.border {
	margin: 10px;
}

div.dash {
	width: 100%;
	height: 50%;
	border-bottom: 1px dashed #ccc;
}

.autocomplete {
	background: #fff;
	cursor:     default;
	overflow:   auto;
	margin-top: -1px;
	padding:0;
	box-sizing: border-box;
	font-weight:        100;
	max-height:250px;

	-moz-border-radius-bottomleft: 4px;
	-webkit-border-bottom-left-radius:  4px;
	-moz-border-radius-bottomright:     4px;
	-webkit-border-bottom-right-radius: 4px;

	-webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, .3);
	-moz-box-shadow:    0 4px 5px rgba(0, 0, 0, .3);
	box-shadow:         0 4px 5px rgba(0, 0, 0, .3);

	border: 1px solid #5897fb;
	border-top:none;
	outline: 0;
	z-index:1000;
}

.autocomplete ul {
	list-style-type: none;
	margin:          0;
	padding:         0;
}

.autocomplete ul li.selected {
	background-color: #f0f0f0;
}

.autocomplete ul li {
	list-style-type:   none;
	display:           block;
	margin:            0;
	padding:		   4px 0 0 4px;
	height:            18px;
	cursor:            pointer;
	text-shadow:       0 1px 0 #fff;
	overflow:          hidden;
	white-space:       nowrap;
	text-overflow:     ellipsis;
	-o-text-overflow:  ellipsis;
	-ms-text-overflow: ellipsis;
}

.autocomplete ul li span {
	font-weight: bold;
	padding: 7px 0 7px 0;
}

.tree-config-dropdown {
	width: 16px;
	border: 1px solid #888;
	border-top: none;
	height: 17px;
	margin-top: -1px;
	background: #d6dde5 url('[{$dir_images}]icons/silk/bullet_arrow_down.png') no-repeat;
}

.tree-config-dropdown-white {
	background: #fff url('[{$dir_images}]icons/silk/bullet_arrow_up.png');
}

.tree-config {
	border-bottom: 1px solid #888;
	width: 100%;
}

* html .draggableBar {
	float: left;
}

.draggableBar {
	background-color: #d6dde5;
	border: 0;
	min-width: 2px;
	position: absolute;
	bottom: 0;
	opacity: 0;
	filter:alpha(opacity=0);
	z-index: 1;
}

.draggableBar:hover {
	min-width:4px;
	opacity: 0.8;
	filter:alpha(opacity=80);
}

.rss {
	padding:10px;
}

.rss .item {
	padding-top:10px;
}

.rss .item:first-child {
	padding-top:0;
}

#widget-container-popup
{
	border:1px solid #888;
}

/* Top bar */
#menuScrollLeft {
	position: absolute;
	top: 8px;
	margin-right: 5px;
	left: 2px;
	z-index: 9999;
}

#menuScrollRight {
	position: relative;
	top: 4px;
	margin-right: 5px;
	z-index: 9999;
}

/* Content Header (Object overview) */
#contentHeader {
	height: 100px;
}

#contentHeaderTable {
	white-space: nowrap;
	overflow: hidden;
}

#cSpanRecFilter div.paging .pager-filter input {

}

#cSpanRecFilter div.paging div {
	margin-right: 3px;
}

#cSpanRecFilter div.paging div.pager-results {
	margin: 5px 5px 0 0;
}

#cSpanRecFilterInnerTable td.strip {
	text-overflow: ellipsis;
}

#cSpanRecFilter h1#contentTopTitle {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* Global Search */
#searchBar {
	padding-right: 5px;

	background-image: -ms-linear-gradient(left, rgba(38, 38, 38, 0) 0%, rgba(38, 38, 38, 1) 14.000000000000002%);
	background-image: -moz-linear-gradient(left, rgba(38, 38, 38, 0) 0%, rgba(38, 38, 38, 1) 14.000000000000002%);
	background-image: -o-linear-gradient(left, rgba(38, 38, 38, 0) 0%, rgba(38, 38, 38, 1) 14.000000000000002%);
	background-image: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(38, 38, 38, 0)), color-stop(0.14, rgba(38, 38, 38, 1)));
	background-image: -webkit-linear-gradient(left, rgba(38, 38, 38, 0) 0%, rgba(38, 38, 38, 1) 14.000000000000002%);
	background-image: linear-gradient(to right, rgba(38, 38, 38, 0) 0%, rgba(38, 38, 38, 1) 14.000000000000002%);
}

#searchBar span.searchField {
	margin-left: 5px;
}

#searchBar span.login-string {
	visibility: visible;
}

#searchBar .login-small {
	visibility: hidden;
}

#searchBar #searchHelpText table {
	width: 250px;
}

#searchBar select#mandator_id  {
	height:18px !important;
}

/* Tree Top */
#treeTop {
	white-space: nowrap;
}

#treeTop a {
	margin-right: 10px
}

#treeTop a:first-child {
	margin-right: 0;
}

#treeTop a img {
	vertical-align: middle;
	margin-top: -2px;
}

#freeTrialBadge {
	position: absolute;
	bottom: 25px;
	right: 0;
}