/**
  * The wizard nexgen css
  */

	#container {
		width: 640px;
		padding: 5px;
		margin: 40px;
		background-color: #F2FCFD;
		border:1px solid #31ACC2;
	}

	#container .invisible {
		visibility:hidden;
	}

	#container .visible {
		visibility:visible;
	}

	#tabtop {
		padding:0;
		margin:0;
	}

	#wizard_content {
		padding: 10px;
		margin: 0;
		background-color: #E7F5F8;
		border:1px solid #31ACC2;
		margin-top:-1px;
	}

	#wizard_content div.wizard_content_active {
		visibility:visible;
		background:#ffffff;
		padding: 10px;
		border:1px solid #ccc;
	}

	#wizard_content div.wizard_content_inactive {
		visibility:hidden;
		display:none;
	}

	#bottom {
		position:relative;
		font-size:10pt;
		height:20px;
		margin:10px 0 10px 0;
		text-align:right;
		width:100%;
	}

	#tabbottom li {
		margin: 0;
		padding: 0;
  		display: inline;
  		list-style-type: none;
	}

	#tabbottom a:link, #tabbottom a:visited {
		float: left;
		background: #F2FCFD;
		font-size: 10px;
		line-height: 14px;
		font-weight: bold;
		padding: 2px 10px 2px 10px;
		margin-right: 4px;
		border:1px solid #31ACC2;
		text-decoration: none;
		color: #666;
	}

	#tabbottom a:active {
		color:Red;
	}

	#tabbottom a:hover {
		border-right:1px #000 groove;
		border-bottom:1px #000 groove;
	}

	/** nexgen end */


/*WIZARD -----------------------------------------------------------------*/
	.wiz_pages {
		height: 15px;
		margin-left:10px;
		font-size:12px;
	}
	.wiz_pages_container {
		background-color: #E7F5F8;
		padding: 5px;
		margin:0 5px 0 5px;
		height:215px;
		border:1px solid #31ACC2;

	}

	.wiz_pages_content {
		height:90%;
		padding:5px;
		overflow:hidden;
		width:445px;
		float:left;
		background:#ffffff;
		border:1px solid #cccccc;
		margin:5px;

	}
	.wiz_pages strong {
		background-color: #E7F5F8;
	}
	.wiz_pages a, .wiz_pages a.active, .wiz_pages span {
		background-color: #F2FCFD;
	}
	.wiz_pages a:hover, .wiz_pages a:focus, .wiz_pages a:active {
		background-color: white;
	}
	.wiz_pages a, .wiz_pages strong, .wiz_pages span {
		float:left;
		border:1px solid #31ACC2;
		padding:0px 10px;
		margin-right:-1px;
		text-align:center;
	}
	.wiz_pages strong, .wiz_pages a.active {
		position:relative;
		top:-3px;
		border-bottom-style:none;
		padding: 2px 5px 2px 5px;
		cursor:default;
	   color:black;
	}
	.wiz_pages span.invisible {
		display:none
	}
	* html .wiz_pages {
		position:relative;
		height:1%;
	}
	.wiz_bottom {
		float:right;
		top:-3px;
		padding:8px 20px 8px 20px;
	}
	.wiz_bottom div {
		float:left;
		background-color: #E7F5F8;
		border:1px solid #31ACC2;
		border-top-style:none;
		padding:5px;
		margin:-8px -1px 2em 0;
		text-align:center;
	}
	.wiz_bottom img{
		margin:0 5px 0 0;
	}
	* html .wiz_bottom {
		position:relative;
		right:1px;
	}
/*------------------------------------------------------------------------*/