#workflow h1 {
	margin-left: 5px;
	margin-bottom: 0px;
}

#workflow #selection,
#workflow #workflow_content,
#workflow #workflow_meta {
}

#workflow label {
	float: right;
	text-align: right;
	line-height: 15px;
}

#workflow select {
	font-size: 11px;
	width: 260px;
	margin: 0;
	padding: 0;
	margin-bottom: 5px;
}

#workflow textarea {
	width: 250px;
	margin-bottom: 5px;
	font-size: 12px;
}

#workflow input {
	width: 250px;
	margin-bottom: 5px;
	font-size: 12px;
}

#workflow br {
	clear: both;
}

#wf_container #actions {
	margin: 10px 0 0 0;
	cursor: pointer;
	padding: 1px 1px 1px 5px;
}

#wf_container #actions.over {
	background-color: #d5d5d5;
	border-color: #72c1d3 #c5e5ed #c5e5ed #72c1d3;
}

#wf_container #actions h2,
#wf_container #actions h3 {
	font-weight: normal;
	margin: 0;
}

#wf_container #actiondata {
	margin: 0;
	padding: 0;
}

#wf_container #actiondata label {
	font-weight: bold;
}

#workflow dd.wf_taskbar {
	height: 30px;
	margin: 0;
}

#workflow dd.wf_taskbar {
	list-style-type: none;
}

#workflow dd.wf_taskbar li {
	list-style-type: none;
	width: 120px; text-align: center;
	font-size: 90%; font-weight: bold;
	float: left;
	padding: 3px; margin: 0;
}

#workflow dd.wf_taskbar li a {
	padding-left: 15px;
	padding-right: 15px;
}

#workflow dd.wf_taskbar li a:link,
#workflow dd.wf_taskbar li a:visited,
#workflow dd.wf_taskbar li a:hover {
	color: #000;
	background-color: #e5e9ff;
	text-decoration: none;
}

#workflow dd.wf_taskbar li a:link,
#workflow dd.wf_taskbar li a:visited {
	border-top: 1px solid #cecece;
	border-bottom: 1px solid #000;;
	border-left: 1px solid #cecece;
	border-right: 1px solid #000;
}

#workflow dd.wf_taskbar li a:hover {
	border-bottom: 1px solid #cecece;
	border-top: 1px solid #000;
	border-right: 1px solid #cecece;
	border-left: 1px solid #000;
}

#wf_template_list {
	margin: 0;
	padding: 20px;
}

#wf_template_list fieldset {
	border: 1px solid #ccc;
	padding: 10px;
}