

<div id="header" class="p5">
	<a href="javascript:" onclick="popup_close(this.up().up());" class="fr bold">X</a>
	<h3 class="m0">[{isys type="lang" ident="LC__CMDB__CATG__SPATIALLY_CONNECTED_OBJECTS_ERROR_1"}]</h3>
</div>

<div class="p10">
	<p>[{isys type="lang" ident="LC__CMDB__CATG__SPATIALLY_CONNECTED_OBJECTS_ERROR_2"}]</p>
</div> 