<table class="contentTable">
	<tr>
		<td class="key">[{isys type="f_label" name="C__ITSERVICE__TYPE_CONFIGURATION__TITLE" ident="LC__ITSERVICE__TYPE_CONFIGURATION__TITLE"}]</td>
		<td class="value">[{isys type="f_text" name="C__ITSERVICE__TYPE_CONFIGURATION__TITLE"}]</td>
	</tr>
	<tr>
		<td class="key">[{isys type="f_label" name="C__ITSERVICE__TYPE_CONFIGURATION__DESCRIPTION" ident="LC__ITSERVICE__TYPE_CONFIGURATION__DESCRIPTION"}]</td>
		<td>[{isys type="f_wysiwyg" name="C__ITSERVICE__TYPE_CONFIGURATION__DESCRIPTION"}]</td>
	</tr>
</table>