<table class="qrcode_table">
	<tr>
		<td><img class="qr-code-img m5 fl" src="%qrcode_url%" alt="QR Code" title="QR Code"></td>
		<td><p class="description center">%description%</p></td>
		<td><img class="qr-code-logo" src="%logo_url%" alt="Logo" title="Logo"></td>
	</tr>
</table>
---
<table class="qrcode_table">
	<tr>
		<td><img class="qr-code-img m5 fl" src="%qrcode_url%" alt="QR Code" title="QR Code"></td>
		<td><p class="description center">%description%</p></td>
	</tr>
</table>
---
<table class="qrcode_table">
	<tr>
		<td><p class="description center">%description%</p></td>
		<td><img class="qr-code-img m5 fr" src="%qrcode_url%" alt="QR Code" title="QR Code"></td>
	</tr>
</table>
---
<table class="qrcode_table">
	<tr>
		<td class="center"><img class="qr-code-img m5" src="%qrcode_url%" alt="QR Code" title="QR Code"></td>
	</tr>
</table>
---
<table class="qrcode_table">
	<tr>
		<td class="center"><img class="qr-code-img m5 fl" src="%qrcode_url%" alt="QR Code" title="QR Code"></td>
		<td class="center">
			<p class="description">%description%</p>
			<img class="qr-code-logo" src="%logo_url%" alt="Logo" title="Logo">
		</td>
	</tr>
</table>
---
<table class="qrcode_table">
	<tr>
		<td class="center"><img class="qr-code-img m5 fl" src="%qrcode_url%" alt="QR Code" title="QR Code"></td>
		<td class="center">
			<img class="qr-code-logo" src="%logo_url%" alt="Logo" title="Logo">
			<p class="description">%description%</p>
		</td>
	</tr>
</table>
---
<table class="qrcode_table">
	<tr>
		<td class="center" colspan="2"><p class="description">%description%</p></td>
	</tr>
	<tr>
		<td width="50%" class="center"><img class="qr-code-img m5" src="%qrcode_url%" alt="QR Code" title="QR Code"></td>
		<td width="50%" class="center"><img class="qr-code-logo" src="%logo_url%" alt="Logo" title="Logo"></td>
	</tr>
</table>
---
<table class="qrcode_table">
	<tr>
		<td width="50%" class="center"><img class="qr-code-img m5" src="%qrcode_url%" alt="QR Code" title="QR Code"></td>
		<td width="50%" class="center"><img class="qr-code-logo" src="%logo_url%" alt="Logo" title="Logo"></td>
	</tr>
	<tr>
		<td class="center" colspan="2"><p class="description">%description%</p></td>
	</tr>
</table>