<div class="p10 gradient">
    <strong>[{isys type="lang" ident="LC_POPUP_WIZARD_FILE__FILE_UPLOAD"}] <img src="images/please_wait.gif" style="vertical-align: middle; display:none;" id="upload_loading"/>:</strong>
    <input type="file" style="" name="import_file" onChange="$('upload_loading').show();document.forms[0].submit()"/>
</div>