[{*
Smarty template for global category for mail addresses
@ author: Van Quyen Hoang <qhoang@i-doit.org>
@ copyright: synetics GmbH
@ license: <http://www.i-doit.com/license>
*}]

<table class="contentTable">
	<tr>
		<td class="key">[{isys type="f_label" name="C__CMDB__CATG__MAIL_ADDRESSES__TITLE" ident="LC__CONTACT__PERSON_MAIL_ADDRESS"}]</td>
		<td class="value">[{isys type="f_text" name="C__CMDB__CATG__MAIL_ADDRESSES__TITLE"}]</td>
	</tr>
	<tr>
		<td class="key">[{isys type="lang" ident="LC__CATG__CONTACT_LIST__PRIMARY"}]</td>
		<td class="value">[{isys type="f_dialog" name="C__CMDB__CATG__MAIL_ADDRESSES__PRIMARY" p_bDbFieldNN="1"}]</td>
	</tr>
</table>
