<table class="contentTable">
	<tr>
		<td class="key">[{isys type="f_label" ident="LC__CMDB__CATG__SLA_SERVICE_ID" name="C__CATG__SLA__SERVICE_ID"}]</td>
		<td class="value">[{isys type="f_text" name="C__CATG__SLA__SERVICE_ID"}]</td>
	</tr>
	<tr>
		<td class="key">[{isys type="f_label" name="C__CATG__SLA__SERVICE_LEVEL" ident="LC__CMDB__CATG__SLA_SERVICELEVEL"}]</td>
		<td class="value">
			[{isys type="f_dialog" name="C__CATG__SLA__SERVICE_LEVEL"}]
			[{isys type="f_popup" p_strPopupType="dialog_plus" name="C__CATG__SLA__SERVICE_LEVEL_DIALOG"}]
		</td>
	</tr>
	<tr>
		<td class="key">

		</td>
		<td>
			<div id="service-level-description" class="input ml20 p5">[{$servicelevel_description}]</div>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<hr class="mt5 mb5"/>
		</td>
	</tr>
	<tr>
		<td class="key">
			[{isys type="f_label" name="C__CATG__SLA__MONITORING" ident="LC__CMDB__CATS__SLA_SCHEMA__SERVICETIMEFRAME"}]
		</td>
		<td>
			<table class="pl20">
				<tr>
					<td>
						<input type="checkbox" name="C__CATG__SLA__WEEK_DAY__MONDAY" id="C__CATG__SLA__WEEK_DAY__MONDAY" class="week_day mr5" value="1" [{if $days.mon}]checked="checked"[{/if}] [{$disabled}] />
						[{isys type="f_label" name="C__CATG__SLA__WEEK_DAY__MONDAY" ident="LC__UNIVERSAL__CALENDAR__DAYS_MONDAY"}]
					</td>
					<td>
						[{isys type="f_text" name="C__CATG__SLA__WEEK_DAY__MONDAY_TIME_FROM"}]
					</td>
					<td>
						[{isys type="f_text" name="C__CATG__SLA__WEEK_DAY__MONDAY_TIME_TO" p_strStyle="width:50px;" p_strPlaceholder="hh:mm" p_strSelfdefinedIcon="icons/silk/bullet_arrow_right.png" p_strSelfdefinedIconTitle="LC__UNIVERSAL__FROM_TO"}]
					</td>
				</tr>
				<tr>
					<td>
						<input type="checkbox" name="C__CATG__SLA__WEEK_DAY__TUESDAY" id="C__CATG__SLA__WEEK_DAY__TUESDAY" class="week_day mr5" value="1" [{if $days.tue}]checked="checked"[{/if}] [{$disabled}] />
						[{isys type="f_label" name="C__CATG__SLA__WEEK_DAY__TUESDAY" ident="LC__UNIVERSAL__CALENDAR__DAYS_TUESDAY"}]
					</td>
					<td>
						[{isys type="f_text" name="C__CATG__SLA__WEEK_DAY__TUESDAY_TIME_FROM"}]
					</td>
					<td>
						[{isys type="f_text" name="C__CATG__SLA__WEEK_DAY__TUESDAY_TIME_TO" p_strStyle="width:50px;" p_strPlaceholder="hh:mm" p_strSelfdefinedIcon="icons/silk/bullet_arrow_right.png" p_strSelfdefinedIconTitle="LC__UNIVERSAL__FROM_TO"}]
					</td>
				</tr>
				<tr>
					<td>
						<input type="checkbox" name="C__CATG__SLA__WEEK_DAY__WEDNESDAY" id="C__CATG__SLA__WEEK_DAY__WEDNESDAY" class="week_day mr5" value="1" [{if $days.wed}]checked="checked"[{/if}] [{$disabled}] />
						[{isys type="f_label" name="C__CATG__SLA__WEEK_DAY__WEDNESDAY" ident="LC__UNIVERSAL__CALENDAR__DAYS_WEDNESDAY"}]
					</td>
					<td>
						[{isys type="f_text" name="C__CATG__SLA__WEEK_DAY__WEDNESDAY_TIME_FROM"}]
					</td>
					<td>
						[{isys type="f_text" name="C__CATG__SLA__WEEK_DAY__WEDNESDAY_TIME_TO" p_strStyle="width:50px;" p_strPlaceholder="hh:mm" p_strSelfdefinedIcon="icons/silk/bullet_arrow_right.png" p_strSelfdefinedIconTitle="LC__UNIVERSAL__FROM_TO"}]
					</td>
				</tr>
				<tr>
					<td>
						<input type="checkbox" name="C__CATG__SLA__WEEK_DAY__THURSDAY" id="C__CATG__SLA__WEEK_DAY__THURSDAY" class="week_day mr5" value="1" [{if $days.thu}]checked="checked"[{/if}] [{$disabled}] />
						[{isys type="f_label" name="C__CATG__SLA__WEEK_DAY__THURSDAY" ident="LC__UNIVERSAL__CALENDAR__DAYS_THURSDAY"}]
					</td>
					<td>
						[{isys type="f_text" name="C__CATG__SLA__WEEK_DAY__THURSDAY_TIME_FROM"}]
					</td>
					<td>
						[{isys type="f_text" name="C__CATG__SLA__WEEK_DAY__THURSDAY_TIME_TO" p_strStyle="width:50px;" p_strPlaceholder="hh:mm" p_strSelfdefinedIcon="icons/silk/bullet_arrow_right.png" p_strSelfdefinedIconTitle="LC__UNIVERSAL__FROM_TO"}]
					</td>
				</tr>
				<tr>
					<td>
						<input type="checkbox" name="C__CATG__SLA__WEEK_DAY__FRIDAY" id="C__CATG__SLA__WEEK_DAY__FRIDAY" class="week_day mr5" value="1" [{if $days.fri}]checked="checked"[{/if}] [{$disabled}] />
						[{isys type="f_label" name="C__CATG__SLA__WEEK_DAY__FRIDAY" ident="LC__UNIVERSAL__CALENDAR__DAYS_FRIDAY"}]
					</td>
					<td>
						[{isys type="f_text" name="C__CATG__SLA__WEEK_DAY__FRIDAY_TIME_FROM"}]
					</td>
					<td>
						[{isys type="f_text" name="C__CATG__SLA__WEEK_DAY__FRIDAY_TIME_TO" p_strStyle="width:50px;" p_strPlaceholder="hh:mm" p_strSelfdefinedIcon="icons/silk/bullet_arrow_right.png" p_strSelfdefinedIconTitle="LC__UNIVERSAL__FROM_TO"}]
					</td>
				</tr>
				<tr>
					<td>
						<input type="checkbox" name="C__CATG__SLA__WEEK_DAY__SATURDAY" id="C__CATG__SLA__WEEK_DAY__SATURDAY" class="week_day mr5" value="1" [{if $days.sat}]checked="checked"[{/if}] [{$disabled}] />
						[{isys type="f_label" name="C__CATG__SLA__WEEK_DAY__SATURDAY" ident="LC__UNIVERSAL__CALENDAR__DAYS_SATURDAY"}]
					</td>
					<td>
						[{isys type="f_text" name="C__CATG__SLA__WEEK_DAY__SATURDAY_TIME_FROM" }]
					</td>
					<td>
						[{isys type="f_text" name="C__CATG__SLA__WEEK_DAY__SATURDAY_TIME_TO" p_strStyle="width:50px;" p_strPlaceholder="hh:mm" p_strSelfdefinedIcon="icons/silk/bullet_arrow_right.png" p_strSelfdefinedIconTitle="LC__UNIVERSAL__FROM_TO"}]
					</td>
				</tr>
				<tr>
					<td>
						<input type="checkbox" name="C__CATG__SLA__WEEK_DAY__SUNDAY" id="C__CATG__SLA__WEEK_DAY__SUNDAY" class="week_day mr5" value="1" [{if $days.sun}]checked="checked"[{/if}] [{$disabled}] />
						[{isys type="f_label" name="C__CATG__SLA__WEEK_DAY__SUNDAY" ident="LC__UNIVERSAL__CALENDAR__DAYS_SUNDAY"}]
					</td>
					<td>
						[{isys type="f_text" name="C__CATG__SLA__WEEK_DAY__SUNDAY_TIME_FROM"}]
					</td>
					<td>
						[{isys type="f_text" name="C__CATG__SLA__WEEK_DAY__SUNDAY_TIME_TO" p_strStyle="width:50px;" p_strPlaceholder="hh:mm" p_strSelfdefinedIcon="icons/silk/bullet_arrow_right.png" p_strSelfdefinedIconTitle="LC__UNIVERSAL__FROM_TO"}]
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td class="key">[{isys type="f_label" ident="LC__CMDB__CATS__SLA_REACTIONTIME" name="C__CATG__SLA__REACTION_INTERVAL"}]</td>
		<td class="value">[{isys type="f_text" name="C__CATG__SLA__REACTION_INTERVAL"}][{isys type="f_dialog" name="C__CATG__SLA__REACTION_INTERVAL_UNIT" p_strTable="isys_unit_of_time"}]</td>
	</tr>
	<tr>
		<td class="key">[{isys type="f_label" ident="LC__CMDB__CATS__SLA_RECOVERYTIME" name="C__CATG__SLA__RECOVERY_INTERVAL"}]</td>
		<td class="value">[{isys type="f_text" name="C__CATG__SLA__RECOVERY_INTERVAL"}][{isys type="f_dialog" name="C__CATG__SLA__RECOVERY_INTERVAL_UNIT" p_strTable="isys_unit_of_time"}]</td>
	</tr>
</table>

<style type="text/css">
	#service-level-description span,
	#service-level-description img {
		vertical-align: middle;
		margin-right: 5px;
	}
</style>

<script>
	(function () {
		"use strict";

		var $service_level = $('C__CATG__SLA__SERVICE_LEVEL_DIALOG'),
			$service_level_description = $('service-level-description');

		if ($service_level && $service_level_description) {
			$service_level.on('change', function () {
				$service_level_description.removeClassName('error')
					.update(new Element('img', {src:'[{$dir_images}]ajax-loading.gif'}))
					.insert(new Element('span').update('[{isys type="lang" ident="LC__UNIVERSAL__LOADING"}]'));

				new Ajax.Request('?ajax=1&call=sla&func=get-service-level-description', {
					parameters: {
						service_level: $service_level.getValue()
					},
					method: "post",
					onComplete: function (response) {
						var json = response.responseJSON;

						if (json.success) {
							$service_level_description.update(json.data.isys_sla_service_level__description || '[{$servicelevel_description_empty}]');
						} else {
							$service_level_description.addClassName('error').update(json.message);
						}
					}
				});
			});
		}

		var check_accessability = function () {
			$$('input.week_day').each(function (el) {
				var checked = el.checked,
					time_element_from = el.up('td').next('td').down('input'),
					time_element_to = el.up('td').next('td', 1).down('input');

				if (checked) {
					time_element_from.enable().readOnly = false;
					time_element_to.enable().readOnly = false;
				} else {
					time_element_from.disable().readOnly = true;
					time_element_to.disable().readOnly = true;
				}
			});
		};

		if ($('C__CATG__SLA__WEEK_DAY__MONDAY')) {
			check_accessability();
			$$('input.week_day').invoke('on', 'change', check_accessability);
		}
	}());
</script>