<table class="contentTable">
	<tr>
		<td class="key">[{isys type="f_label" name="C__CATG__VIRTUAL_OBJECT__ASSIGNED_OBJECTS__VIEW" ident="LC__CMDB__CATG__OBJECT"}]</td>
		<td class="value">
			[{isys
			title="LC__CMDB__CATG__OBJECT"
			name="C__CATG__VIRTUAL_OBJECT__ASSIGNED_OBJECTS"
			type="f_popup"
			multiselection=1
			p_strPopupType="browser_object_ng"
			groupFilter="C__OBJTYPE_GROUP__INFRASTRUCTURE"}]
		</td>
	</tr>
</table>