<table class="contentTable">
	<tr>
		<td class="key">[{isys type='f_label' name='C__CATG__SERVICEPACK' ident="LC__CATG__SERVICEPACK"}]</td>
		<td class="value">[{isys type="f_text" name="C__CATG__SERVICEPACK" tab="10"}]</td>
	</tr>
	<tr>
		<td class="key">[{isys type='f_label' name='C__CATG__KERNEL' ident="LC__CATG__KERNEL"}]</td>
		<td class="value">[{isys type="f_text" name="C__CATG__KERNEL" tab="20"}]</td>
	</tr>
	<tr><td colspan="2"><hr class="partingLine" /></td></tr>
	<tr>
		<td class="key">[{isys type='f_label' name='C__CATG__PATCHES' ident="LC__CATG__PATCHES"}]</td>
		<td class="value">[{isys type="f_text" name="C__CATG__PATCHES" tab="30"}]</td>
	</tr>
</table>