<input type="hidden" name="C__CATG__IP__ID" value="[{$ip_id}]">
<table class="contentTable">
	<tr>
		<td class="key">[{isys type='f_label' name='C__NET__TYPE' ident="LC__CMDB__CATS__NET__TYPE"}]</td>
		<td class="value">[{isys type="f_dialog" p_strTable="isys_net_type" name="C__NET__TYPE" p_bDbFieldNN="1"}]</td>
	</tr>
	<tr>
		<td class="key">[{isys type="lang" ident="LC__CATP__IP__PRIMARY"}] / [{isys type="lang" ident="LC__CATP__IP__ACTIVE"}]</td>
		<td class="value">
			[{isys type="f_dialog" name="C__CATP__IP__PRIMARY" p_bDisabled="[{if $smarty.get.catgID eq $smarty.const.C__CATG__OVERVIEW}]1[{/if}]" p_bDbFieldNN="1" p_strClass="input input-mini"}]
			<span class="ml5 mr5">/</span>
			[{isys type="f_dialog" name="C__CATP__IP__ACTIVE" p_strClass="input input-mini" p_bDbFieldNN="1" p_bInfoIconSpacer="0"}]
		</td>
	</tr>
	<tr>
		<td class="key">[{isys type='f_label' name='C__CATG__IP__NET__VIEW' ident="LC__CMDB__NET_ASSIGNMENT"}]</td>
		<td class="value">
			[{isys
				title="LC__BROWSER__TITLE__NET"
				name="C__CATG__IP__NET"
				id="C__CATG__IP__NET"
				type="f_popup"
				p_strPopupType="browser_object_ng"
				typeFilter="C__OBJTYPE__LAYER3_NET"
				callback_accept="idoit.callbackManager.triggerCallback('net_assigned');"
				callback_detach="idoit.callbackManager.triggerCallback('net_detached');"}]

			<input type="hidden" value="[{$net}]" name="old_net_id" id="old_net_id" />

			[{if isys_glob_is_edit_mode() && $smarty.const.C__MODULE__PRO}]
				[{isys type='f_button' name="" id="net_list_button" p_strValue="[{isys type='lang' ident='LC__CMDB__CATG__IP__LOAD_IP_NET'}]"}]
			[{/if}]
		</td>
	</tr>
</table>

<table class="contentTable form mt5" id="form_[{$smarty.const.C__CATS_NET_TYPE__IPV4}]" [{if $type != $smarty.const.C__CATS_NET_TYPE__IPV4}]style="display:none;"[{/if}]>
	<tr id="ip_range">
		<td class="key">[{isys type='f_label' name='C__CATP__IP__ADDRESS_V4_FROM' ident="LC__CMDB__CATS__NET__ADDRESS_RANGE"}]</td>
		<td class="value">
			[{isys type="f_text" name="C__CATP__IP__ADDRESS_V4_FROM" p_strClass="input input-mini" p_bReadonly="1"}]
			<span class="ml5 mr5">-</span>
			[{isys type="f_text" name="C__CATP__IP__ADDRESS_V4_TO" p_strClass="input input-mini" p_bReadonly="1" p_bInfoIconSpacer=0}]
			<input type="hidden" id="ip_ranges" value="[{$ip_ranges}]"/>
			<input type="hidden" id="used_ips" value="[{$used_ips}]"/>
		</td>
	</tr>
	<tr>
		<td class="key">[{isys type='f_label' name='C__CATP__IP__ASSIGN' ident="LC__CATP__IP__ASSIGN"}]</td>
		<td class="value">[{isys type="f_dialog" name="C__CATP__IP__ASSIGN" id="ipv4_assign" p_bDbFieldNN="1"}]</td>
	</tr>
	<tr>
		<td class="key">[{isys type='f_label' name='C__CATP__IP__ADDRESS_V4' ident="LC__CMDB__CATG__IP__IPV4_ADDRESS"}]</td>
		<td class="value">
			<span id="ip_calc">
				[{isys type="f_text" name="C__CATP__IP__ADDRESS_V4" p_onChange="idoit.callbackManager.triggerCallback('validate_ip');" p_strClass="reEnableWhenNetAssigned input input-mini ipv4"}]
			</span>

			[{if $smarty.const.C__MODULE__PRO && isys_glob_is_edit_mode()}]
				<button type="button" class="btn" id="btn_ip_calc">
					<img src="[{$dir_images}]icons/silk/arrow_refresh.png"/>
				</button>
				<button type="button" class="btn" id="btn_detach_ip">
					<img class="vam" src="[{$dir_images}]icons/silk/detach.png"/>
				</button>
				<span id="C__CATG__IP__MESSAGES" class="inputText" style="display:none;padding:0 10px 2px 10px;"></span>
			[{/if}]
		</td>
	</tr>
	<tr>
		<td class="key">[{isys type='f_label' name='C__CATP__IP__SUBNETMASK_V4' ident="LC__CATP__IP__SUBNETMASK"}]</td>
		<td class="value">
			[{isys type="f_text" name="C__CATP__IP__SUBNETMASK_V4" p_strClass="reEnableWhenNetAssigned input input-mini ipv4" p_bReadonly="1"}]
			<span class="ml5 mr5">/</span>
			[{isys type="f_text" name="C__CATS__NET__CIDR" p_bInfoIconSpacer="0" p_strClass="input input-mini" p_bReadonly=true}]
		</td>
	</tr>
	<tr>
		<td class="key">[{isys type='f_label' name='C__CATG__IP__GW__CHECK' ident="LC__CATG__IP__DEFAULT_GATEWAY_FOR_THE_NET"}]</td>
		<td class="value">[{isys type="f_dialog" name="C__CATG__IP__GW__CHECK" p_bDbFieldNN="1"}]</td>
	</tr>
</table>

<table class="contentTable form mt5" id="form_[{$smarty.const.C__CATS_NET_TYPE__IPV6}]" [{if $type != $smarty.const.C__CATS_NET_TYPE__IPV6}]style="display:none;"[{/if}]>
	<tr>
		<td class="key">[{isys type='f_label' name='C__CMDB__CATG__IP__IPV6_ASSIGNMENT' ident="LC__CMDB__CATG__IP__IPV6_ASSIGNMENT"}]</td>
		<td class="value">[{isys type='f_dialog' p_bDbFieldNN="1"  name='C__CMDB__CATG__IP__IPV6_ASSIGNMENT' p_strClass="reEnableWhenNetAssigned input input-mini ipv6"}]</td>
	</tr>
	<tr>
		<td class="key">[{isys type='f_label' name='C__CMDB__CATG__IP__IPV6_ADDRESS' ident="LC__CMDB__CATG__IP__IPV6_ADDRESS"}]</td>
		<td class="value">
			<div class="fl">
				[{isys type="f_text" id="C__CMDB__CATG__IP__IPV6_ADDRESS" name="C__CMDB__CATG__IP__IPV6_ADDRESS" p_strClass="reEnableWhenNetAssigned inputText ipv6" tab="7"}]
				[{if isys_glob_is_edit_mode()}]
					<button type="button" class="btn" id="btn_ip_calc_v6">
						<img src="[{$dir_images}]icons/navbar/recycle_icon.png"/>
					</button>
				[{/if}]
			</div>
			<div class="fl">
				<span id="C__CATG__IPV6__MESSAGES" class="inputText" style="display:none;padding:0px 10px 2px 10px;">
			</div>
		</td>
	</tr>
	<tr>
		<td class="key">[{isys type='f_label' name='C__CMDB__CATG__IP__IPV6_SCOPE' ident="LC__CMDB__CATG__IP__IPV6_SCOPE"}]</td>
		<td class="value">[{isys type='f_popup' p_strPopupType='dialog_plus' name='C__CMDB__CATG__IP__IPV6_SCOPE' tab='6' p_strClass="reEnableWhenNetAssigned input input-mini ipv6"}]</td>
	</tr>
</table>

<table class="contentTable form mt5" id="ip_additional" [{if $type != $smarty.const.C__CATS_NET_TYPE__IPV4 && $type != $smarty.const.C__CATS_NET_TYPE__IPV6}]style="display:none;"[{/if}]>
	<tr>
		<td class="key">[{isys type='f_label' name='C__CATP__IP__HOSTNAME' ident="LC__CATP__IP__HOSTNAME"}]</td>
		<td class="value">
			[{isys
			type="f_text"
			name="C__CATP__IP__HOSTNAME"
			tab="1"}]
		</td>
	</tr>
	<tr class="IP">
		<td class="key">[{isys type='f_label' name='C__CATG__IP__ASSIGNED_DNS_SERVER__VIEW' ident="LC__CMDB__CATS__NET__DNS_SERVER"}]</td>
		<td class="value">
			[{isys
			name="C__CATG__IP__ASSIGNED_DNS_SERVER"
			type="f_popup"
			p_strPopupType="browser_object_ng"
			groupFilter="C__OBJTYPE_GROUP__INFRASTRUCTURE"
			multiselection=true
			secondSelection="true"
			secondList="isys_cmdb_dao_category_g_ip::object_browser"
			secondListFormat="isys_cmdb_dao_category_g_ip::format_selection"}]
		</td>
	</tr>
	<tr class="IP">
		<td class="key">[{isys type='f_label' name='C__CATP__IP__DNS_DOMAIN' ident="LC__CMDB__CATS__NET__DNS_DOMAIN"}]</td>
		<td class="value">[{isys type="f_multiselect" name="C__CATP__IP__DNS_DOMAIN" p_strTable="isys_net_dns_domain"}]</td>
	</tr>
	[{if count($fqdns) > 0}]
		<tr class="IP">
			<td class="key" style="vertical-align: top;">FQDN</td>
			<td class="value">
				[{foreach from=$fqdns item="fqdn"}]
					[{isys type="f_data" p_strValue=$fqdn}]
					<br/>
				[{/foreach}]
			</td>
		</tr>
	[{/if}]
</table>

<table class="contentTable mt5">
	<tr>
		<td class="key">[{isys type='f_label' name='C__CATG__IP__ASSIGNED_PORTS' ident="LC__CATG__IP__ASSIGNED_PORT"}]</td>
		<td class="value">[{isys type="f_dialog" name="C__CATG__IP__ASSIGNED_PORTS" emptyMessage="LC__CATG__IP__NO_PORTS_WARNING"}]</td>
	</tr>
</table>

<script type="text/javascript">
// Initializing without "var" vor global scope.
net_range = '[{$net_range|default:"[]"}]'.evalJSON();
dhcp_dynamic_ranges = '[{$dhcp_dynamic_ranges|default:"[]"}]'.evalJSON();
dhcp_reserved_ranges = '[{$dhcp_reserved_ranges|default:"[]"}]'.evalJSON();
used_ips = '[{$used_ips|default:"[]"}]'.evalJSON();
global_net_ipv4_title = '[{$global_net_ipv4_title}]';
global_net_ipv6_title = '[{$global_net_ipv6_title}]';
ip_unique_check = '[{$ip_unique_check}]';

(function () {
    "use strict";

	var $btn_ip_calc = $('btn_ip_calc'),
		$btn_detach_ip = $('btn_detach_ip'),
		$ip_message = $('C__CATG__IP__MESSAGES'),
		$net_selection_hidden = $('C__CATG__IP__NET__HIDDEN'),

		$subnet_v4 = $('C__CATP__IP__SUBNETMASK_V4'),
		$cidr = $('C__CATS__NET__CIDR'),
		$net_type = $('C__NET__TYPE');

    // Validation of the ip address.
	var validate_ip = function () {
		var ipv4_assignment = $('ipv4_assign').value,
			ipv4 = $('C__CATP__IP__ADDRESS_V4').getValue(),
			ipv4_empty = (ipv4 == '...'),
			ipv4_long = IPv4.ip2long(ipv4),
			found_free_ipv4 = false,
			dhcp_dynamic_exists = (dhcp_dynamic_ranges != null),
			dhcp_reserved_exists = (dhcp_reserved_ranges != null);

		// Check for valid ip address
		if (ipv4_long == 0 || ipv4.trim().substr(ipv4.length - 2) == '.0') {
			ip_messages(1, 10);
			return;
		}

        // First we handle the case, that we've got an empty IP.
		if (ipv4_empty) {
			switch (ipv4_assignment) {
				// Empty "static" or "unnumbered" IP? No problem.
				case '[{$smarty.const.C__CATP__IP__ASSIGN__STATIC}]':
				case '[{$smarty.const.C__CATP__IP__ASSIGN__UNNUMBERED}]':
					ip_messages(2, 0);
					return;

				// Empty "dhcp" or "dhcp-reserved" is also okay, when there's a according range.
				case '[{$smarty.const.C__CATP__IP__ASSIGN__DHCP}]':
					ip_messages(2, 0);
					return;

				case '[{$smarty.const.C__CATP__IP__ASSIGN__DHCP_RESERVED}]':
					ip_messages(2, 0);
					return;
			}
		}

		// Is net-range empty?
		if (!net_range.from || !net_range.to) {
			ip_messages(1, 8);
			return;
		}

		// We have to check if the IP-address lies inside the net-range. For all assignment types!
		if (ipv4_long < net_range.from || net_range.to < ipv4_long) {
			ip_messages(1, 9);
			return;
		}

        // And now we handle the more complex part.
        switch (ipv4_assignment) {
            // Only thing to check here is, if the IP address is inside our net-range.
            case '[{$smarty.const.C__CATP__IP__ASSIGN__UNNUMBERED}]':
            case '[{$smarty.const.C__CATP__IP__ASSIGN__STATIC}]':
                if (ipv4_long >= net_range.from && ipv4_long <= net_range.to) {
                    is_ipv4_free(ipv4);

                    return;
                }
                ip_messages(1, 3);
                return;

            // For "dhcp" we have to check if the IP address is inside the DHCP-range and is free.
            case '[{$smarty.const.C__CATP__IP__ASSIGN__DHCP}]':
                if (dhcp_dynamic_exists) {
                    // Check, if the IP address is inside one of our dynamic dhcp ranges.
                    dhcp_dynamic_ranges.each(function(i) {
                        // Check if the IP address is inside our dynamic DHCP range.
                        if ((ipv4_long >= i.from && ipv4_long <= i.to) || !used_ips.in_array(ipv4_long)) {
                            found_free_ipv4 = true;
                        }
                    }.bind(this))

                    if(true == true){
                        is_ipv4_free(ipv4);
                        return;
                    }
                    // We found a free address.
                    if (found_free_ipv4) {
                        ip_messages(2, 0);
                        return;
                    }

                    // All addresses are already taken.
                    ip_messages(1, 3);
                    return;
                } else {
                    if(true == true){
                        is_ipv4_free(ipv4);
                        return;
                    }

                    if (!used_ips.in_array(ipv4_long)) {
                        ip_messages(2, 0);
                        return
                    }
                }

                ip_messages(1, 4);
                return;

            case '[{$smarty.const.C__CATP__IP__ASSIGN__DHCP_RESERVED}]':
                if (dhcp_reserved_exists) {
                    // Check, if the IP address is inside one of our dynamic dhcp ranges.
                    dhcp_reserved_ranges.each(function(i) {
                        // Check if the IP address is inside our dynamic DHCP range.
                        if ((ipv4_long >= i.from && ipv4_long <= i.to) || !used_ips.in_array(ipv4_long)) {
                            found_free_ipv4 = true;
                        }
                    }.bind(this));

                    if(true == true){
                        is_ipv4_free(ipv4);
                        return;
                    }

                    // We found a free address.
                    if (found_free_ipv4) {
                        ip_messages(2, 0);
                        return;
                    }

                    // All addresses are already taken.
                    ip_messages(1, 3);
                    return;
                } else {
                    if(true == true){
                        is_ipv4_free(ipv4);
                        return;
                    }

                    if (!used_ips.in_array(ipv4_long)) {
                        ip_messages(2, 0);
                        return
                    }
                }

                ip_messages(1, 5);
                return;
        }
    };

	var reset_ip = function (id_const) {
		$(id_const).setValue('');
	};

	var reset_subnetmask = function (id_const) {
		reset_ip(id_const);
		$cidr.setValue('');
	};

	var reset_range = function (id_const_from, id_const_to) {
		reset_ip(id_const_from);
		reset_ip(id_const_to);
	};

	var reset_all = function (id_const_ip, id_const_subnetmask, id_const_from, id_const_to) {
		reset_ip(id_const_ip);
		reset_subnetmask(id_const_subnetmask);
		reset_range(id_const_from, id_const_to);
	};

	var net_assigned_v4 = function () {
		new Ajax.Request('?ajax=1&call=net', {
			parameters: {
				id: $net_selection_hidden.getValue()
			},
			method: "post",
			onSuccess: function (transport) {
				var i = 0,
					json = transport.responseJSON;

				if (json) {
					isys_glob_enable_save();
					if ($net_selection_hidden.getValue().blank()) {
						$net_selection_hidden.setValue('[{$smarty.const.C__OBJ__NET_GLOBAL_IPV4}]');
						$('C__CATG__IP__NET__VIEW').value = json.object_browser_title;
					}

					if (json.isys_cats_net_list__isys_net_type__id == '[{$smarty.const.C__CATS_NET_TYPE__IPV6}]') {
						alert('[{isys type="lang" ident="LC__CATG__IP__WRONG_NET_WARNING" p_bHtmlEncode=0}]');
						isys_glob_disable_save();
						return;
					}

					// IPv4.
					$subnet_v4.setValue(json.isys_cats_net_list__mask);
					$cidr.setValue(json.isys_cats_net_list__cidr_suffix);
					$('C__CATP__IP__ADDRESS_V4_FROM').setValue(json.isys_cats_net_list__address_range_from);
					$('C__CATP__IP__ADDRESS_V4_TO').setValue(json.isys_cats_net_list__address_range_to);

					// Set DNS Server.
					var dns_server_ids = $('C__CATG__IP__ASSIGNED_DNS_SERVER__HIDDEN').value.evalJSON();
					var dns_server_view = $('C__CATG__IP__ASSIGNED_DNS_SERVER__VIEW').value + ', ';

					json.assigned_dns_server.each(function (s) {
						dns_server_ids.push(parseInt(s.id));
						dns_server_view += s.details + ', ';
					});

					$('C__CATG__IP__ASSIGNED_DNS_SERVER__HIDDEN').setValue(Object.toJSON(dns_server_ids));
					$('C__CATG__IP__ASSIGNED_DNS_SERVER__VIEW').value = dns_server_view.replace(/^[,\s]+/, '').replace(/[,\s]+$/, '');

					// Object for multiselectbox
					var mselect_object = mselect_C__CATP__IP__DNS_DOMAIN;
					mselect_object.maininput = $('C__CATP__IP__DNS_DOMAIN').up();

					if ($('old_net_id').value != $net_selection_hidden.getValue()) {
						var has_input = false;

						$('C__CATP__IP__DNS_DOMAIN').up().siblings().each(function (el) {
							if (el)
								has_input = true;
							//mselect_object.dispose(el);
						});
						// Assign domains
						if (!has_input) {
							$('C__CATP__IP__DNS_DOMAIN__HIDDEN').value = '';
							json.assigned_dns_domain.each(function (el) {
								mselect_object.autoAdd(el);
								if ($net_type.disabled)
									$('C__CATP__IP__DNS_DOMAIN__HIDDEN').value += el.value + ',';
							});

							if ($net_type.disabled)
								$('C__CATP__IP__DNS_DOMAIN__HIDDEN').value = $('C__CATP__IP__DNS_DOMAIN__HIDDEN').value.substring(0, ($('C__CATP__IP__DNS_DOMAIN__HIDDEN').value.length - 1));
						}
					}

					net_range.from = IPv4.ip2long(json.isys_cats_net_list__address_range_from);
					net_range.to = IPv4.ip2long(json.isys_cats_net_list__address_range_to);

					if (json.used_ips) {
						used_ips = json.used_ips;
					}

					if (json.dhcp_ranges) {
						if (json.dhcp_ranges.C__NET__DHCP_DYNAMIC) {
							dhcp_dynamic_ranges = json.dhcp_ranges.C__NET__DHCP_DYNAMIC;
						}
						if (json.dhcp_ranges.C__NET__DHCP_RESERVED) {
							dhcp_reserved_ranges = json.dhcp_ranges.C__NET__DHCP_RESERVED;
						}
					}

					$('old_net_id').setValue($net_selection_hidden.getValue());
				}

			}
		});
	};

    var net_assigned_v6 = function() {
        new Ajax.Request('?ajax=1&call=net',
                {
                    parameters: {
                        id: $net_selection_hidden.getValue()
                    },
                    method: "post",
                    onSuccess: function(transport) {
                        var i = 0,
                                json = transport.responseText.evalJSON();

                        if (json) {
                            isys_glob_enable_save();
                            if ($net_selection_hidden.getValue().blank()) {
                                $net_selection_hidden.setValue('[{$smarty.const.C__OBJ__NET_GLOBAL_IPV6}]');
                                $('C__CATG__IP__NET__VIEW').value = json.object_browser_title;
                            }

                            if (json.isys_cats_net_list__isys_net_type__id == '[{$smarty.const.C__CATS_NET_TYPE__IPV4}]') {
                                alert('[{isys type="lang" ident="LC__CATG__IP__WRONG_NET_WARNING" p_bHtmlEncode=0}]');
                                isys_glob_disable_save();
                                return;
                            }

                            // Object for multiselectbox
                            var mselect_object = mselect_C__CATP__IP__DNS_DOMAIN;
                            mselect_object.maininput = $net_selection_hidden.up();

                            if($('old_net_id').value != $net_selection_hidden.getValue()){
                                var has_input = false;

                                $('C__CATP__IP__DNS_DOMAIN').up().siblings().each(function(el){
                                    if(el)
                                        has_input = true;
                                    //mselect_object.dispose(el);
                                });

                                // Assign domains
                                if(!has_input){
                                    $('C__CATP__IP__DNS_DOMAIN__HIDDEN').value = '';
                                    json.assigned_dns_domain.each(function(el){
                                        mselect_object.autoAdd(el);
                                        if($net_type.disabled)
                                            $('C__CATP__IP__DNS_DOMAIN__HIDDEN').value += el.value+',';
                                    });
                                }
                            }

                            net_range.from = json.isys_cats_net_list__address_range_from;
                            net_range.to = json.isys_cats_net_list__address_range_to;

                            $('old_net_id').value = $net_selection_hidden.getValue();
                        }
                    }
                });
    };

	var net_find_free_ipv4 = function () {
		isys_glob_enable_save();
		$btn_ip_calc.down('img').writeAttribute('src', '[{$dir_images}]ajax-loading.gif');

		new Ajax.Request('?call=calc_ip_address&func=find_free_v4&ajax=1', {
			parameters: {
				'net_obj_id': ((!$net_selection_hidden.getValue().blank()) ? $net_selection_hidden.getValue() : '[{$smarty.const.C__OBJ__NET_GLOBAL_IPV6}]'),
				'ip_assignment': $('ipv4_assign').value
			},
			method: 'post',
			onSuccess: function (transport) {
				var json = transport.responseJSON;

				$btn_ip_calc.down('img').writeAttribute('src', '[{$dir_images}]icons/silk/arrow_refresh.png');

				if (json.success) {
					if (json.data === false) {
						ip_messages(1, 3);
					} else if (json.data == 'no_static') {
						ip_messages(1, 7);
					} else {
						if (!json.data.blank() && json.data != null) {
							$('C__CATP__IP__ADDRESS_V4').setValue(json.data);
						}

						// We set the IP address blank, when the chosen type is "unnumbered".
						if ($('ipv4_assign').getValue() == '[{$smarty.const.C__CATP__IP__ASSIGN__UNNUMBERED}]') {
							reset_ip('C__CATP__IP__ADDRESS_V4');
						}

						validate_ip();
					}
				}
			}
		});
	};

    var net_find_free_ipv6 = function (){
        isys_glob_enable_save();
        new Ajax.Request('?call=ipv6&ajax=1',
                {
                    parameters: {
                        'method': 'find_free_v6',
                        'net_obj_id': ((! $net_selection_hidden.getValue().blank()) ? $net_selection_hidden.getValue() : '[{$smarty.const.C__OBJ__NET_GLOBAL_IPV6}]'),
                        'ip_assignment': $('C__CMDB__CATG__IP__IPV6_ASSIGNMENT').value
                    },
                    method: 'post',
                    onSuccess: function(transport){
                        var json = transport.responseJSON;

                        if (json !== false) {
                            $('C__CMDB__CATG__IP__IPV6_ADDRESS').value = json;
                            $('C__CATG__IPV6__MESSAGES').update('[{isys type="lang" ident="LC__UNIVERSAL__AVAILABLE"}]')
                                    .setStyle({backgroundColor: '#99FF99'})
                                    .setOpacity(1)
                                    .show();
                        } else {
                            $('C__CATG__IPV6__MESSAGES').update('[{isys type="lang" ident="LC__CMDB__CATG__IP__NO_IP_FOUND"}]')
                                    .setStyle({backgroundColor: '#FF9999'})
                                    .setOpacity(1)
                                    .show();
                        }

                        window.setTimeout(function() {
                            $('C__CATG__IPV6__MESSAGES').fade();
                        }, 1000);
                    }
                });
    };

    var validate_ipv6 = function (){
        // Validation of IPv6 addresses.
        var el = $('C__CMDB__CATG__IP__IPV6_ADDRESS');

        el.setStyle({background:''})
                .previous('img')
                .writeAttribute({src: '[{$dir_images}]empty.gif', title: ''});
        isys_glob_enable_save();

        if (el.value == '') {
            $('C__CATG__IPV6__MESSAGES').update('[{isys type="lang" ident="LC__UNIVERSAL__AVAILABLE"}]')
                    .setStyle({backgroundColor: '#99FF99'})
                    .setOpacity(1)
                    .show();

            window.setTimeout(function() {
                $('C__CATG__IPV6__MESSAGES').fade();
            }, 1000);
            return;
        }

        if (checkipv6(el.value)) {
            new Ajax.Request('?call=ipv6&ajax=1',
                    {
                        parameters: {
                            'method': 'is_ipv6_inside_range',
                            'net_from': net_range.from,
                            'net_to': net_range.to,
                            'address': el.value
                        },
                        method: "post",
                        onSuccess: function(transport) {
                            var inside_net_range = transport.responseText.evalJSON();

                            // The IPv6 address lies outside the net-range.
                            if (! inside_net_range) {
                                el.setStyle({background:'#f99'})
                                        .previous('img')
                                        .writeAttribute({src: '[{$dir_images}]icons/infoicon/error.png', title: '[{isys type="lang" ident="LC__CMDB__CATG__IP__IPV6_ADDRESS_OUTSIDE_RANGE" p_bHtmlEncode=false}]'});
                                isys_glob_disable_save();
                                return;
                            }

                            $('C__CATG__IPV6__MESSAGES').update('[{isys type="lang" ident="LC__UNIVERSAL__AVAILABLE"}]')
                                    .setStyle({backgroundColor: '#99FF99'})
                                    .setOpacity(1)
                                    .show();

                            window.setTimeout(function() {
                                $('C__CATG__IPV6__MESSAGES').fade();
                            }, 1000);
                        }.bind(this)
                    });
        } else {
            el.setStyle({background:'#f99'})
                    .previous('img')
                    .writeAttribute({src: '[{$dir_images}]icons/infoicon/error.png', title: '[{isys type="lang" ident="LC__UNIVERSAL__FIELD_VALUE_IS_INVALID" p_bHtmlEncode=false}]'});
            isys_glob_disable_save();
        }
    };

    var detach_ip = function () {
        if ($('ipv4_assign')) {
            reset_ip('C__CATP__IP__ADDRESS_V4');
        } else if ($('ipv6_assign')) {
            $('C__CATP__IP__ADDRESS_V6').value = '';
        }
    };

    // Loads IP network of the currently selected net.
    var load_net_list = function() {
        var logbook_ele = $('LogbookCommentary');

        if(logbook_ele.next() == undefined){
            // create new div element
            var ip_net_list = new Element('div', {id:'net_list', className:'mt10'});
            logbook_ele.up().insert(ip_net_list);
        }
        else{
            var ip_net_list = $('net_list');
        }

        new Ajax.Request('[{$ajax_url_ip_list}]', {
            parameters: {
                net_object:$net_selection_hidden.getValue(),
                net_type:$('C__NET__TYPE').value
            },
            method: 'post',
            onSuccess:function (transport) {
                ip_net_list.update(transport.responseText);
            }.bind(this)
        });
    };

    var ip_messages = function(msg_level, error_level) {
        var message,
                color;

        switch(msg_level) {
            case 1:
                color = '#FF9999';

                switch(error_level) {
                    case 1:
                        message = '[{isys type="lang" ident="LC__CMDB__CATG__IP__IP_IS_NOT_INSIDE_RANGE_OF_DHCP"}]';
                        break;
                    case 2:
                        message = '[{isys type="lang" ident="LC__CMDB__CATG__IP__IP_IS_INSIDE_RANGE_OF_DHCP"}]';
                        break;
                    case 3:
                        message = '[{isys type="lang" ident="LC__UNIVERSAL__NOT_AVAILABLE"}]';
                        break;
                    case 4:
                        message = '[{isys type="lang" ident="LC__CMDB__CATG__IP__IP_NO_RANGE_AVAILABLE_FOR"}]: [{isys type="lang" ident="LC__CMDB__CATS__NET__DHCP"}]';
                        break;
                    case 5:
                        message = '[{isys type="lang" ident="LC__CMDB__CATG__IP__IP_NO_RANGE_AVAILABLE_FOR"}]: [{isys type="lang" ident="LC__CATP__IP__ASSIGN__DHCP_RESERVED"}]';
                        break;
                    case 6:
                        message = '[{isys type="lang" ident="LC__CMDB__CATG__IP__IP_NO_RANGE_AVAILABLE_FOR"}]: [{isys type="lang" ident="LC__CMDB__CATS__NET__DHCP"}], [{isys type="lang" ident="LC__CATP__IP__ASSIGN__DHCP_RESERVED"}]';
                        break;
                    case 7:
                        message = '[{isys type="lang" ident="LC__CMDB__CATG__IP__IP_NO_RANGE_AVAILABLE_FOR"}]: [{isys type="lang" ident="LC__CATP__IP__ASSIGN__STATIC"}]';
                        break;
                    case 8:
                        message = '[{isys type="lang" ident="LC__CMDB__CATG__IP__NET_NO_RANGE"}]';
                        break;
	                case 9:
		                message = '[{isys type="lang" ident="LC__CMDB__CATG__IP__IP_IS_OUTSIDE_RANGE"}]';
		                break;
	                case 10:
		                message = '[{isys type="lang" ident="LC__CMDB__CATG__IP__WRONG_IP_ADDRESS"}]';
		                break;
                }

                // Because of the wrong data, we don't allow the user to save.
                isys_glob_disable_save();
                break;

            case 2:
                // We enable the "save"-button and display a nice message to the user.
                isys_glob_enable_save();

                message = '[{isys type="lang" ident="LC__UNIVERSAL__AVAILABLE"}]';
                color = '#99FF99';
                break;

            case 3:
                // We enable the "save"-button and display a nice message to the user.
                isys_glob_enable_save();

                message = '[{isys type="lang" ident="LC__UNIVERSAL__AVAILABLE"}]';
                color = '#FF9900';

                switch(error_level) {
                    case 1:
                        message = '[{isys type="lang" ident="LC__CMDB__CATG__IP__IP_ALREADY_IN_USE"}]';
                        break;
                }

                break;
        }

	    if ($ip_message) {
		    $ip_message.update(message).setStyle({backgroundColor: color}).show().highlight();
	    } else {
		    $ip_message.update().hide();
	    }
    };

	var is_ipv4_free = function (ipv4) {
		new Ajax.Request('?call=calc_ip_address&func=is_free_v4&ajax=1', {
			parameters: {
				net_obj_id: ((!$net_selection_hidden.getValue().blank()) ? $net_selection_hidden.getValue() : '[{$smarty.const.C__OBJ__NET_GLOBAL_IPV6}]'),
				objID: '[{$smarty.get.objID}]',
				ip: ipv4
			},
			method: 'post',
			onSuccess: function (transport) {
				var json = transport.responseJSON;

				if (json.success) {
					ip_messages(2, 0);
				} else {
					ip_messages(3, 1);
				}
			}
		});
	};

    [{if isys_glob_is_edit_mode()}]

    [{if $smarty.const.C__MODULE__PRO}]
	$('net_list_button').on('click', function () {
		load_net_list();
	});
    [{/if}]

	idoit.callbackManager.registerCallback('validate_ip', function () {
		validate_ip();
	}).registerCallback('net_assigned', function () {
		if ($net_selection_hidden.getValue() > 0) {
			// At first, we take a look of which type we are currently editing.
			if ($('C__NET__TYPE').value == '[{$smarty.const.C__CATS_NET_TYPE__IPV4}]') {
				net_assigned_v4();
			}

			if ($('C__NET__TYPE').value == '[{$smarty.const.C__CATS_NET_TYPE__IPV6}]') {
				net_assigned_v6();
			}

			validate_ip();
		}
	}).registerCallback('net_detached', function () {
		reset_all('C__CATP__IP__ADDRESS_V4', 'C__CATP__IP__SUBNETMASK_V4', 'C__CATP__IP__ADDRESS_V4_FROM', 'C__CATP__IP__ADDRESS_V4_TO');
		idoit.callbackManager.triggerCallback('net_assigned');
	});

	if ($btn_ip_calc) {
		new Tip(
			$btn_ip_calc,
			new Element('p', {className: 'p5', style: 'font-size:12px;'}).update('[{isys type="lang" ident="LC__CATG__IP__CALCULATE_FREE_ADDRESS" p_bHtmlEncode=false}]'),
			{effect: 'appear', style: 'darkgrey'});

		$btn_ip_calc.on('click', function () {
			net_find_free_ipv4();
		});
	}

	if ($btn_detach_ip) {
		new Tip(
			$btn_detach_ip,
			new Element('p', {className: 'p5', style: 'font-size:12px;'}).update('[{isys type="lang" ident="LC__CATG__IP__RESOLVE_IP_ADDRESS" p_bHtmlEncode=false}]'),
			{effect: 'appear', style: 'darkgrey'});

		$btn_detach_ip.on('click', function () {
			detach_ip();
		})
	}

    if($('btn_ip_calc_v6')) {
        $('btn_ip_calc_v6').on('click', function() {
            net_find_free_ipv6();
        });
    }

    $('ipv4_assign').on('change', function() {
        net_find_free_ipv4();
    });

    $('C__CMDB__CATG__IP__IPV6_ASSIGNMENT').on('change', function() {
        net_find_free_ipv6();
    });

    $('C__CMDB__CATG__IP__IPV6_ADDRESS').on('change', function() {
        validate_ipv6();
    });

	if ($net_type) {
		$net_type.on('change', function () {
			var p_index = $net_type.getValue();

			$('contentBottomContent').select('.form').invoke('hide');
			$('form_' + p_index).show();

			if (p_index == '[{$smarty.const.C__CATS_NET_TYPE__IPV4}]' || p_index == '[{$smarty.const.C__CATS_NET_TYPE__IPV6}]') {
				$('ip_additional').show();
				if (p_index == '[{$smarty.const.C__CATS_NET_TYPE__IPV4}]') {
					if ($net_selection_hidden.getValue() == '[{$smarty.const.C__OBJ__NET_GLOBAL_IPV6}]') {
						$net_selection_hidden.setValue('[{$smarty.const.C__OBJ__NET_GLOBAL_IPV4}]');
						$('C__CATG__IP__NET__VIEW').value = global_net_ipv4_title;
					}
					net_assigned_v4();
				} else if (p_index == '[{$smarty.const.C__CATS_NET_TYPE__IPV6}]') {
					if ($net_selection_hidden.getValue() == '[{$smarty.const.C__OBJ__NET_GLOBAL_IPV4}]') {
						$net_selection_hidden.setValue('[{$smarty.const.C__OBJ__NET_GLOBAL_IPV6}]');
						$('C__CATG__IP__NET__VIEW').value = global_net_ipv6_title;
					}
					net_assigned_v6();
				}
			} else {
				$('ip_additional').hide();
			}
		});

		$net_type.simulate('change');
	}

    [{/if}]
})();
</script>