<table class="contentTable">
	<tr>
		<td class="key">[{isys type="f_label" ident="LC__CONTACT__PERSON_USER_NAME" name="C__CONTACT__PERSON_USER_NAME"}]</td>
		<td class="value">[{isys type="f_text" name="C__CONTACT__PERSON_USER_NAME"}]</td>
	</tr>
	<tr>
		<td class="key">[{isys type="f_label" ident="LC__CONTACT__PERSON_PASSWORD" name="C__CONTACT__PERSON_PASSWORD"}]</td>
		<td class="value">[{isys type="f_text" p_bPassword="1" name="C__CONTACT__PERSON_PASSWORD"}]</td>
		</tr>
	<tr>
		<td class="key">[{isys type="f_label" ident="LC__CONTACT__PERSON_PASSWORD" name="C__CONTACT__PERSON_PASSWORD_SECOND"}]</td>
		<td class="value">[{isys type="f_text" p_bPassword="1" name="C__CONTACT__PERSON_PASSWORD_SECOND"}]</td>
	</tr>
	<tr>
		<td></td>
		<td><span class="grey ml20">* [{isys type="lang" ident="LC__CONTACT__PERSON_PASSWORD_INFO"}]</span></td>
	</tr>
</table>