<table class="contentTable">
	<tr>
		<td class="key">[{isys type="f_label" ident="PDU" name="C__CMDB__CATS__PDU__PDU_ID"}]</td>
		<td class="value">[{isys type="f_count" p_strStyle="width:30px;" name="C__CMDB__CATS__PDU__PDU_ID" tab="1"}]</td>
	</tr>
	<tr>
		<td class="key">[{isys type="f_label" ident="Accumulated Energy" name="C__CMDB__CATS__PDU__ACC_ENERGY_PDU"}]</td>
		<td class="value">[{isys type="f_data" name="C__CMDB__CATS__PDU__ACC_ENERGY_PDU" default="0"}] kWh</td>
	</tr>
	<tr>
		<td class="key">[{isys type="f_label" ident="Accumulated Power" name="C__CMDB__CATS__PDU__ACC_POWER_PDU"}]</td>
		<td class="value">[{isys type="f_data" name="C__CMDB__CATS__PDU__ACC_POWER_PDU" default="0"}] Watt</td>
	</tr>
</table>