<table class="contentTable">
	<tr>
		<td class="key">[{isys type="f_label" ident="LC__CMDB__CATS__APPLICATION_SPECIFICATION" name="C__CATS__APPLICATION_SPECIFICATION"}]</td>
		<td class="value">[{isys type="f_text" name="C__CATS__APPLICATION_SPECIFICATION"}]</td>
	</tr>
	<tr>
		<td class="key">[{isys type="f_label" ident="LC__CMDB__CATS__APPLICATION_MANUFACTURER" name="C__CATS__APPLICATION_MANUFACTURER_ID"}]</td>
		<td class="value">[{isys type="f_popup" name="C__CATS__APPLICATION_MANUFACTURER_ID" p_strPopupType="dialog_plus" p_strTable="isys_application_manufacturer"}]</td>
	</tr>
	<tr>
		<td class="key">[{isys type="f_label" ident="LC__CMDB__CATS__APPLICATION_RELEASE" name="C__CATS__APPLICATION_RELEASE"}]</td>
		<td class="value">[{isys type="f_text" name="C__CATS__APPLICATION_RELEASE"}]</td>
	</tr>
	<tr>
		<td class="key">[{isys type="f_label" ident="LC__CMDB__CATS__APPLICATION_INSTALLATION_TYPE" name="C__CATS__APPLICATION_INSTALLATION_TYPE"}]</td>
		<td class="value">[{isys type="f_popup" name="C__CATS__APPLICATION_INSTALLATION_TYPE" p_strPopupType="dialog_plus" p_strTable="isys_installation_type"}]</td>
	</tr>
	<tr>
		<td class="key">[{isys type="f_label" ident="LC__CMDB__CATS__REGISTRATION_KEY" name="C__CATS__APPLICATION_REGISTRATION_KEY"}]</td>
		<td class="value">[{isys type="f_text" name="C__CATS__APPLICATION_REGISTRATION_KEY"}]</td>
	</tr>
    <tr>
        <td class="key">[{isys type="f_label" ident="LC__CMDB__CATS__APPLICATION__INSTALL_PATH" name="C__CATS__APPLICATION_INSTALL_PATH"}]</td>
        <td class="value">[{isys type="f_text" name="C__CATS__APPLICATION_INSTALL_PATH"}]</td>
    </tr>

</table>