<table class="contentTable">
	<tr>
      <td class="key">[{isys type="f_label" ident="LC__CMDB__CATS__SERVICE_SPECIFICATION" name="C__CATS__SERVICE_SPECIFICATION"}]</td>
      <td class="value">[{isys type="f_text" name="C__CATS__SERVICE_SPECIFICATION"}]</td>
  </tr>
	<tr>
      <td class="key">[{isys type="f_label" ident="LC__CMDB__CATS__SERVICE_MANUFACTURER" name="C__CATS__SERVICE_MANUFACTURER_ID"}]</td>
      <td class="value">[{isys type="f_popup" p_strPopupType="dialog_plus" p_strTable="isys_service_manufacturer" name="C__CATS__SERVICE_MANUFACTURER_ID" p_bDbFieldNN="1"}]</td>
  </tr>
	<tr>
      <td class="key">[{isys type="f_label" ident="LC__CMDB__CATS__SERVICE_RELEASE" name="C__CATS__SERVICE_RELEASE"}]</td>
      <td class="value">[{isys type="f_text" name="C__CATS__SERVICE_RELEASE"}]</td>
  </tr>
</table>
