[{if $gLang == "de"}]
<h3 class="gradient p5 text-shadow border-bottom border-ccc">Tipps</h3>
<div class="m10">
	<ul>
		<li>
			Der Menübaum lässt, je nach Bedarf, über die Buttons "Objektsicht" und "Standortsicht" sowohl eine objekt- als auch eine lokationsbezogene Ansicht zu.
		</li>
		<li>
			Die InfoBox unterhalb des rechten Contentbereichs informiert über die zuletzt innerhalb der Datenbank stattgefundenen Änderungen. Über einen Klick auf das i-Icon gelangt man zum Logbook.
		</li>
		<li>
			Zur Steuerung innerhalb der Objekte befindet sich eine weitere Steuerleiste unterhalb der Breadcrumb Navigation . Hierüber können Änderungen der Objekte, wie das Editieren oder Duplizieren, ausgeführt werden.
		</li>
		<li>
			Über die Links im rechten oberen Bereich gelangt man zu den i-doit System- und Benutzereinstellungen.
		</li>
		<li>
			Ein neu angelegter User muss für einen Login mindestens der Rechtegruppe "reader" hinzugefügt sein oder die entsprechenden Leserechte direkt erhalten.
		</li>
		<li>
			Die deutsche i-doit Dokumentation ist Online unter der Adresse <a href="http://akademie.i-doit.com">http://akademie.i-doit.com</a> erreichbar.
		</li>
		<li>
			i-doit Updates könnnen unter <a href="http://login.i-doit.com">http://login.i-doit.com</a> bezogen werden.
		</li>
		<li>
			Ein i-doit <strong>Update</strong> sollte am besten über den integrierten Updater ausgeführt werden. Dieser befindet sich <a href="./updates">hier</a>.
		</li>
	</ul>
</div>
[{else}]
<h3 class="gradient p5 text-shadow border-bottom border-ccc">Hints</h3>
<div class="m10">
	<ul>
		<li>
			Clicking the "Object view" or "Location view" button will switch the view of the menu tree to object or to location view.
		</li>
		<li>
			Below the right content area you will find the InfoBox, where you will be informed about latest changes within the database. Clicking the i-Icon will take you directly to the logbook.
		</li>
		<li>
			Use our navbar below the breadcrumb navigation to execute changes within objects, such as deleting or editing.
		</li>
		<li>
			A new user must be at least in the group "reader" in order to login.
		</li>

		<li>
			You can download new i-doit updates at <a href="http://login.i-doit.com">http://login.i-doit.com</a>.
		</li>
		<li>
			i-doit <strong>updates</strong> should be executed via the integrated <a href="./updates">Update Manager</a>.
		</li>
	</ul>
</div>
[{/if}]