body {
	font-family: "Lucida Grande",Tahoma,Arial,Helvetica,sans-serif;
	font-size: 11px;
	margin: 0;
	padding: 0;
	background-color: #fff;
}

a {
	color: #dd3333;
	text-decoration: none;
}

a:hover {
	color: #666;
}

ul li {
	list-style-type: none;
}

ul li img {
	vertical-align: middle;
}

a img {
	vertical-align: middle;
}

.image {
	border-radius: 5px;
	border: 1px solid #aaa;
	box-shadow: 2px 2px 4px #222;
}

.toolbar {
	margin-top: 10px;
	margin-bottom: 5px;
}

.toolbar a img {
	vertical-align: top;
	margin-top: -1px;
}

.toolbar input.submit,
.toolbar a {
	padding: 5px 3px 5px 3px;
	border: 1px solid #ccc;
	background: #ddd url('../images/gradient.png') repeat-x;
	text-shadow: 0 1px 0 #fff;
	border-radius: 2px;
	color: #000;
}

.toolbar input.submit:hover,
.toolbar a:hover,
.toolbar a:active {
	border: 1px solid #bbb;
	background: #eee;
	color: #a00;
}

.gradient {
	background: #ddd url('../images/gradient.png') repeat-x;
	text-shadow: 0 1px 0 #fff;
}

.border {
	border: 1px solid #ccc;
	background: #eee;
}

.black { color: #000 !important; }
.grey { color: #999 !important; }
.red { color: #cc0000 !important; }
.green { color: #009c00 !important; }
.bold { font-weight: bold; }
.underline, .u { text-decoration: underline; }

.whitebg {
	background-color: #ffffff;
}

.greenbg {
	background-color: #d4ffde;
}

.redbg {
	background-color: #ffdddd;
}

.fl {float: left;}
.fr {float: right;}

.vam {
	vertical-align: middle;
	margin-top: -2px;
}

.cb { clear: both; }

.m0 { margin: 0 !important; }
.m5 { margin: 5px !important; }
.m10 { margin: 10px !important; }
.m15 { margin: 15px !important; }
.m20 { margin: 20px !important; }

.mt0 { margin-top: 0 !important; }
.mt5 { margin-top: 5px !important; }
.mt10 { margin-top: 10px !important; }
.mt15 { margin-top: 15px !important; }

.mb5 { margin-bottom: 5px !important; }
.mb10 { margin-bottom: 10px !important; }
.mb15 { margin-bottom: 15px !important; }

.ml5 { margin-left: 5px !important; }
.ml10 { margin-left: 10px !important; }
.ml15 { margin-left: 15px !important; }

.mr5 { margin-right: 5px !important; }
.mr10 { margin-right: 10px !important; }
.mr15 { margin-right: 15px !important; }

.p5 { padding: 5px !important; }
.p10 { padding: 10px !important; }

.pl5 { padding-left: 5px !important; }
.pr5 { padding-left: 5px !important; }
.pt5 { padding-top: 5px !important; }
.pb5 { padding-bottom: 5px !important; }

.note,
.success {
	background: #d4ffde;
	border: 1px solid #487854;
	color: #487854;
}

.note a,
.success a{
	color: #487854;
	border-bottom: 1px dotted #487854;
}

.warning {
	background: #fffb99;
	border: 1px solid #88853c;
	color: #88853c;
}

.warning a {
	border-bottom: 1px dotted #88853c;
	color: #88853c;
}

.info {
	background: #d4ecff;
	border: 1px solid #486278;
	color: #486278;
}

.info a {
	border-bottom: 1px dotted #486278;
	color: #486278;
}

.error {
	background-color: #ffdddd !important;
	border: 1px solid #ff4343 !important;
	color: #500000 !important;
}

.error a {
	color: #500000 !important;
	border-bottom: 1px dotted #500000 !important;
}

.hide,
.hidden {
	display:none;
}

#header {
	border-bottom: 3px solid #e64117;
	background-color: #262626;
	min-height: 80px;
}

ul.navigation {
	padding: 2px 0 0 20px;
	margin: 0;
	overflow-x:auto;
    overflow-y:hidden;
    white-space: nowrap;
}

.navigation li {
	float: left;
	position: relative;
	padding: 10px 15px;
	border-top: 1px solid #262626;
	margin-left:2px;
}

ul.navigation li:hover {
	background: url(../images/nav-hover.gif) repeat-x top center;
	border-top: 1px solid #c6c6c6;
}

ul.navigation li a:link,
ul.navigation li a:active,
ul.navigation li a:visited {
	padding: 15px 10px 5px 0;
	font: bold 1.33em "Lucida Grande",Tahoma,Arial,Helvetica,sans-serif;
	color: #ddd;
	display: block;
}

ul.navigation li span {
	display: inline;
	color: #b0b0b0;
	font-size: 1em;
}

ul.navigation li:hover a {
	color: #fff;
}

.content-header {
	border-bottom: 1px solid #ccc;
	padding: 10px;
}

#content #innercontent {
	padding: 10px 10px 15px 10px;
}

#content span.headline {
	font-size: 150%;
}

#topfooter {
	background-color: #f4f4f4;
	border-top: 2px solid #e4e4e4;
	border-bottom: 1px solid #e4e4e4;
	padding: 20px;
}

#topfooter p {
	text-shadow: 0 1px 0 #fff;
	cursor: default;
}

#footer {
	padding: 20px;
	font-size: .9em;
}

#footer span {
	color: #c8c8c8;
}

#footer a {
	text-decoration: underline;
}

table.sortable {
	border: 1px solid #ccc;
	border-right: none;
	width: 100%;
}

table.sortable th, table.sortable td {
	text-align: left;
	padding: 2px 4px 2px 4px;
	line-height: 25px;
}

table.sortable th {
	background-color: #eee;
	line-height: 20px;
	cursor: default;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #aaa;
	text-shadow: 0 1px 0 #fff;
}

table.sortable th a {
	text-decoration: none;
	color: #dd3333;
}

table.sortable th a:hover {
	color: #666;
}

table.sortable td {
	border-right: 1px solid #ddd;
}

table.sortable tr.odd {
	background-color: #f4f4f4;
}

table.sortable tr.even {
	background-color: #fff;
}

table.sortable tr.sortbottom td {
	background-color: #ccc;
	font-weight: bold;
}

table.sortable tr:hover {
	background-color: #eee;
}

fieldset {
	border: 1px solid #ccc;
}

hr.separator {
	margin-top: 10px;
	border: 0;
	border-top: 1px solid #ccc;
}

div.login {
	padding: 20px 0 20px 20px;
	border: 1px solid #ccc;
	background: #ddd url('../images/gradient.png') repeat-x;
	text-shadow: 0 1px 0 #fff;
	border-radius: 2px;
}

/* General "update" styling */
h2 {
	margin: 0 0 10px;
}

h3 {
	margin: 10px 0 0;
}

/* Step-Marker styling */
ul.update-steps {
	margin: 0 15px 10px 0;
	padding: 0;
}

ul.update-steps li {
	background: #eee;
	position: relative;
	padding: 5px;
	margin-bottom: 1px;
}

ul.update-steps li span.step {
	color: #fff;
	background: #000;
	border-radius: 8px;
	position: relative;
	display: block;
	float: left;
	width: 16px;
	height: 16px;
	text-align: center;
	margin-right: 5px;
	font-size: 12px;
}

ul.update-steps li.active {
	background: #d33;
	color: #fff;
}

ul.update-steps li.inactive {
	background: #ccc;
	color: #888;
}

ul.update-steps li.inactive span.step {
	background: #888;
}

.mouse-pointer { cursor: pointer; }
.mouse-default { cursor: default; }

/* Form stylings */
.inputTextarea,
.inputFile,
.inputText,
.inputDialog,
.pager-filter input {
	background: none repeat scroll 0 0 #FBFBFB;
	border: 1px solid #AAAAAA;
	box-shadow: 1px 1px 2px rgba(200, 200, 200, 0.3) inset;
	padding: 2px 5px;
}

/* Button styling */
a.button,
input.button,
button.button {
	padding: 5px 3px 5px 3px;
	border: 1px solid #aaa;
	background: #ddd url('../images/gradient.png') repeat-x;
	text-shadow: 0 1px 0 #fff;
	border-radius: 2px;
	color: #000;
	cursor: pointer;
	margin:0;
}

a.button::-moz-focus-inner,
input.button::-moz-focus-inner,
button.button::-moz-focus-inner {
	border: 0;
}

a.button {
	display: inline-block;
}

a.button.slim,
input.button.slim,
button.button.slim {
	padding: 2px;
}

a.button:hover,
a.button:focus,
input.button:hover,
input.button:focus,
button.button:hover,
input.button:focus {
	border: 1px solid #bbb;
	background: #eee;
	color: #c00;
}

a.button.disabled,
a.button.disabled:hover,
a.button.disabled:focus,
a.button.disabled:active,
input.button.disabled,
input.button.disabled:hover,
input.button.disabled:focus,
input.button.disabled:active,
button.button.disabled,
button.button.disabled:hover,
button.button.disabled:focus,
button.button.disabled:active {
	top: 0;
	left: 0;
	color: #000;
	background: #ddd url('../images/gradient.png') repeat-x;
	opacity: .5;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
}

a.button:active,
input.button:active,
button.button:active {
	top: 1px;
	left: 1px;
	position: relative;
}

button.button img,
button.button span {
	vertical-align: middle;
}

a.button img,
a.button span {
	vertical-align: top;
}

/* Special styles for the update menu */
#update-form p {
	margin: 10px 0;
}

#update-form p:first-child {
	margin-top: 0;
}

#update-form p:last-child {
	margin-bottom: 0;
}

#update-form .border {
	border: 1px solid;
	background: transparent;
}

.border-red {
	border-color: #c00;
}

.huge-text {
	font-size: 200%;
}

code, samp, kbd {
	font-family: "Courier New", Courier, monospace, sans-serif;
	text-align: left;
	color: #555;
}
pre code {
	line-height: 1.6em;
	font-size: 11px;
}
pre {
	padding:0;
	margin:0;
	overflow: auto;
}
/* target IE7 and IE6 */
*:first-child+html pre {
	padding-bottom: 2em;
	overflow-y: hidden;
	overflow: visible;
	overflow-x: auto;
}
* html pre {
	padding-bottom: 2em;
	overflow: visible;
	overflow-x: auto;
}

fieldset.overview {
	position:relative;
	margin: 0;
	padding: 22px 0 0 0;
	border: 0;
	color: #606060;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 1);
}

fieldset.overview legend span {
	position:absolute;
	display:block;
	left:0;
    top:-1px;
	right:0;
	color: #444;
	font-size: 12px;
	padding: 5px;
	background: #eee;
	text-shadow: 0 1px 1px #fff;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eeeeee));
	background: -moz-linear-gradient(top, #fff, #eeeeee);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#eeeeee');
}
fieldset.overview legend span.border-top-none {
	border-top:none;
}
fieldset.overview legend span:after, fieldset.overview legend span:before {
	top: 100%;
	left: 15px;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

fieldset.overview legend span:after {
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #eee;
	border-width: 6px;
	margin-left: -6px;
}
fieldset.overview legend span:before {
	border-color: rgba(0, 0, 0, 0);
	border-top-color: #ccc;
	border-width: 7px;
	margin-left: -7px;
}

fieldset.overview legend {
	font-weight: bold;
	display: block;
	width:100%;
}